[2014-06-14 10:01] babumuralidharan opened #6 "azure vm create with Custom data fails with file size around 63 KB"
vm create with custom data fails if file size is around 63 KB.

command issued is given below
***************************************

$ node bin/azure vm create hydtest1 "3a50f22b388a4ff7ab41029918570fa6__Windows-Server-2012-Essentials-20140327-enus" bamura "Abcd.1234#" -l "West US" -w "testnameforvnw" -z "Medium" -r -d "C:\XPlat\CD1.txt" -n "HydVM1"

![image](https://cloud.githubusercontent.com/

[2014-07-30 19:22] anuchandy opened #31 "Code review comment to consider: Check for "error && error.isSuccessful""
lib/commands/asm/iaas/image.js line 355: Address yugangw-msft  comment: will it possible that "error && error.isSuccessful"? If not, then we should drop "!error.isSuccessful", or throw a generic error. Anyway, we should fail at the first place

[2014-07-31 05:34] babumuralidharan opened #35 "cloud service creation fails if user passes only virtual network name when creating VM"
Create VNET under a  location.
Create VM with giving this VNET as a parameter without passing location & affinitygroup.
New Cloudservice creation step fails and create vm fails.

In vm client we are handling the same scenario if VNET is created under a affinity group.

Also same case needs to be checked if user creates vm in existing cloudservice and user specifies only VNET.

[2014-08-01 21:16] avranju opened #39 "Refactoring: Reuse `getImageInfo` from `show`"
The `show` function implementation in `lib/commands/asm/iaas/image.js` has almost identical code for the case when `what` is not equal to `DISK` when compared with the implementation of `getImageInfo` in `lib/commands/asm/vm/vmUtils.js`. Consider reusing `getImageInfo` from `show` to avoid code duplication.

The two pieces of code are not *exactly* identical because `show` tries to save a copy of

[2014-08-21 22:46] babumuralidharan opened #43 "docker vm create on failure do not delete cloudservice"
when an exception occurs during docker vm create, it should delete the cloudservice that was created during command run which is not happening currently. The error callback do not handle the hosted service deletion part in createDockerVM function. This behavior is inconsistent with vm create command.

[2014-08-21 22:50] babumuralidharan opened #44 "docker vm create command missing --community option"
docker vm create command missing --community option parameter. Currently we cannot use any community images for docker vm create due to this issue.

[2014-08-26 18:41] babumuralidharan opened #47 "Better error message for docker create vm command"
When user runs docker vm create command from windows client the command fails if there is no openssh cmdline tool installed in windows client. Command help and error message should have this requirement added which will help windows client users when they try to use docker vm create command.

Referencing Issue  https://github.com/Azure/azure-sdk-tools-xplat/issues/1340 here

[2014-09-11 22:49] babumuralidharan opened #55 "location warn message in docker vm create command but the command uses the respective location"
Referencing https://github.com/Azure/azure-sdk-tools-xplat/issues/1355 here

[2014-09-30 00:21] anuchandy opened #70 "Refactoring: Create separate class for Reserved IP"
The network.js file is getting   too big to manage, we need to create separate class for ReserverdIP functionalities and use it.

[2014-10-03 20:13] babumuralidharan opened #76 "Do not warn location/affinity group if user tries to create vm on an existing cloudservice using connect option"
Referencing https://github.com/Azure/azure-sdk-tools-xplat/issues/1283 here. Guess this issue seems to be a regression.

[code]

[2014-10-28 12:32] vikasmathod opened #86 "network import" doesn't pass LocalNetworkSites to "network import" doesn't pass LocalNetworkSites"
I'm trying to import a saved network configuration json file. When I submit the import the CLI is not including the LocalNetworkSites section. So any existing LocalNetworkSites configuration is removed.

my_network.json

{
    "VirtualNetworkConfiguration": {
        "VirtualNetworkSites": [
            {
                "AffinityGroup": "EastUS-Prd",
                "Subnets": [

[2014-11-01 04:48] anuchandy opened #94 "Feature: Implement command set to manage DNS servers for virtual machine"

[2014-11-07 02:26] anuchandy opened #99 "Refactoring: endpoint acl commands to use '_' as callback to enable promptinging:"

[2014-11-10 12:14] vikasmathod opened #105 "Loadbalancer : Add command fails with VM associated with a Vnet"
Step 1: Create a Vnet with "affinity group" associated with it and not the location.
Step 2: Create a VM with the --virtual-network-name option.
Step 3: Add a load balancer for the deployment using the "internal-load-balancer add" command . The command fails. Please refer the screenshot below:

![vmvnet](https://cloud.githubusercontent.com/assets/6801546/4975630/0a623770-6901-11e4-9100-4e10a326fa5

[2014-11-14 07:30] vikasmathod opened #110 "Loadbalancer : Update command fails"
Step 1: Add a internal load balancer for a cloud service deployment.
Step 2: Use update commands on the load balancer . The command fails

![loadbalancing1](https://cloud.githubusercontent.com/assets/6801546/5042582/09b1a3e2-6bfe-11e4-8025-260b11991829.PNG)
![loadbalancing2](https://cloud.githubusercontent.com/assets/6801546/5042581/09b07e72-6bfe-11e4-84ce-0188877d126b.PNG)

[2014-11-25 00:08] babumuralidharan opened #112 "Need ability to set the published date and recommended VM size in create VM Image"
Refering https://github.com/Azure/azure-xplat-cli/issues/1462 here

[2014-11-27 11:41] vikasmathod opened #115 "Internal load balancer : Validations not handled"
Step 1: Add a loadbalancer to the created vm , here I am using the loadbalancername as '%'.

![l11](https://cloud.githubusercontent.com/assets/6801546/5216385/68431116-7658-11e4-8e11-0f81955dfecf.PNG)

Step 2: Try deleting the loadbalancer , the exception occurs.
![l21](https://cloud.githubusercontent.com/assets/6801546/5216388/6d56b784-7658-11e4-88b1-482d87c090c7.PNG)

Expected behaviour : Either

[2014-12-01 22:25] babumuralidharan opened #116 "Feature: Add Network Security Group support in CLI"
Add NSG support in CLI. Refer below link for more details

http://msdn.microsoft.com/en-us/library/azure/dn848316.aspx

[2014-12-11 18:22] kmouss opened #120 "HPC Testing: * Azure CLI requires –c option to put multiple VMs in a cloud service"
* Azure CLI requires –c option to put multiple VMs in a cloud service – Adding a second VM to a cloud service without this simply returns a failure.

o Solution – Use the –c option at all times with the CLI, as it has no known negative impact.  (Why is this not always enabled?)

[2014-12-11 18:22] kmouss opened #121 "HPC Testing: * Azure CLI requires location even when it will be ignored * Azure CLI requires location even when it will be ignored"
* Azure CLI requires location even when it will be ignored – This is a known bug in the CLI – location or affinity group is required to get some commands to run even when they will be ignored at run time.

o Solution – Always provide a location, as doing so has no known negative impact.

[2014-12-11 18:23] kmouss opened #122 "HPC Testing: * Azure CLI requires 4 types of characters in the password"
* Azure CLI requires 4 types of characters in the password – Not all interfaces require the same restrictions on passwords – this seems to be the most restrictive (requires upper, lower, number and symbol).

o Solution – Use all four when creating any password.  This can be an issue in some command lines as certain characters (like ‘$’) have other meanings.  The ‘@’ symbol appears to be safe every

[2015-01-06 18:45] orangemocha commented on #44
Fixed in https://github.com/MSOpenTech/azure-sdk-tools-xplat/commit/35ccdb06978ba58e2cea5a8bbd0ff070cf796a1e

[2015-01-06 18:45] #44 closed

[2015-01-06 18:46] orangemocha commented on #43
Fixed in https://github.com/MSOpenTech/azure-sdk-tools-xplat/commit/b2bfde7fb1ae50ae38c398c27dc9d936d4c4f89f

[2015-01-06 18:46] #43 closed

[2015-01-06 18:47] orangemocha commented on #35
Fixed in https://github.com/MSOpenTech/azure-sdk-tools-xplat/commit/ccf09dbf13a54a536c3d9cee2615be62d18bced6

[2015-01-06 18:47] #35 closed

[2015-01-12 20:04] kmouss opened #126 "HPC Testing: Support creating a VNet without a default Affinity group."
VNets created in some environments have affinity groups by default – Not having affinity groups here is new.  When creating a VNet with the CLI (as an example), by default it creates an affinity group to go with it if one is not specified.
o Solution in scripting – Harder to do, but download the current VNet configuration, edit in a new VNet without an affinity group, and upload the new configurat

[2015-01-27 13:33] HimanshuBri opened #127 "azure vm create -u switch being used twice for both username and bloburl"
Refer screenshot for more details on this issue. Vm create help command should be similar to that of vm docker create command where username is a mandatory parameter

![image](https://cloud.githubusercontent.com/assets/10084788/5919131/a99c25b6-a656-11e4-8652-51418ea8e926.png)

[2015-02-23 19:52] babumuralidharan commented on #76
Closing this since we are tracking this issue in azure repo

[2015-02-23 19:52] #76 closed

[2015-02-23 19:52] babumuralidharan commented on #55
Closing this issue since we are tracking the same in Azure repo

[2015-02-23 19:52] #55 closed

[2015-02-23 19:53] babumuralidharan commented on #47
Closing this since we are tracking this in azure repo

[2015-02-23 19:53] #47 closed

[2015-02-23 19:53] babumuralidharan commented on #86
Closing this issue since we are tracking this in azure repo

[2015-02-23 19:53] #86 closed

[2015-02-23 19:54] babumuralidharan commented on #127
Closing this since we are tracking this in azure repo

[2015-02-23 19:54] #127 closed

[2015-02-23 19:56] babumuralidharan commented on #115
@anuchandy can you open in bug in SDK please ?

[2015-02-23 19:58] babumuralidharan commented on #105
@anuchandy do you have an update for this issue ?

[2015-02-23 20:18] babumuralidharan commented on #112
closing this since we are tracking this in azure repo

[2015-02-23 20:18] #112 closed

[2015-02-24 00:29] kmouss commented on #120
Since the user has to put the Cloud service name any way, I don't think this option (-c) is very useful and causes confusion since if you don't specify it in the case where you plan to put the VM in the same cloud service it will fail and the help isn't super clear on what is wrong until you dig further. Thanks,

[2015-02-24 01:02] babumuralidharan commented on #6
Referencing https://github.com/Azure/azure-xplat-cli/issues/1599 here. Closing here and tracking this issue in azure repo.

[2015-02-24 01:02] #6 closed

[2015-02-24 01:50] babumuralidharan commented on #110
This issue is fixed in the prod version. Update command works now.

![image](https://cloud.githubusercontent.com/assets/1501823/6341857/7d1d43c4-bb84-11e4-9626-0fe9bc692453.png)

[2015-02-24 01:50] #110 closed

[2015-02-24 01:55] babumuralidharan commented on #126
This issue has been fixed and by default we create region wise vnet. If user specifies --create-new-affinity-group then we create affinity group vnet. This is working fine in 0.8.15.

[2015-02-24 01:55] #126 closed

[2015-02-24 01:56] babumuralidharan commented on #121
Closing this since we are tracking the same in https://github.com/Azure/azure-xplat-cli/issues/1283

[2015-02-24 01:56] #121 closed

[2015-02-24 01:58] babumuralidharan commented on #122
I guess above comments provide enough justifications for this issue. Closing this issue since this is a default behavior of shell.

[2015-02-24 01:58] #122 closed

[2015-02-24 02:02] babumuralidharan commented on #120
This is the only flag which gives control to the user whether he can create multiple VMs under same cloudservice or new one. So removing this or assuming -c option  by default simply overrides user's actual intention. So i think we should leave this behavior intact. Closing this issue. If you still feel this needs to be opened please add this in azure repo.

[2015-02-24 02:02] #120 closed

[2015-04-02 14:46] HimanshuBri opened #138 "disk command "update-by-name" for size is not working"
Please find the attached screenshot

![diskupdate_size](https://cloud.githubusercontent.com/assets/10084788/6966176/981daa0c-d974-11e4-9bcd-57c3861c343b.png)

[2015-05-07 18:24] anuchandy opened #139 "dns-zone record set create command fails for type SOA with missing field exception"
_From @babumuralidharan on April 24, 2015 6:52_

* create dns-zone record set create for type SOA.
* command fails with missing fields host & email.

___verbose output below___

[code]

_Copied from original issue: MSOpenTech/azure-xplat-cli-pr#476_

[2015-05-07 18:24] anuchandy commented on #139
_From @roman-boltunov on April 24, 2015 11:42_

Hi @babumuralidharan. Thanks for sharing, will report this issue.

[2015-05-07 18:24] anuchandy commented on #139
@roman-boltunov Just confirming..

The above log (output of -vv) shows PUT body as:

body: '{"properties":{"TTL":4},"location":"global"}'

It is missing SOA fields.

There are two possibilities here:

1. Either SDK is not serializing 'recordSet.properties.soaRecord' object
2. Or the object we are passing to SDK is missing this 'recordSet.properties.soaRecord'  property.

Can we check this? if issu

[2015-05-07 18:24] anuchandy commented on #139
_From @roman-boltunov on April 27, 2015 9:43_

Hi @anuchandy, for 'record-set create' command we do not provide any information about 'inner' records.
For example we provide record-related information by using 'record-set add-record' command, i.e. adding a record to **existing** record-set, and here we can set --host and --email fields. But 'record-set create' command just creates an empty record-

[2015-05-07 18:24] anuchandy commented on #139
_From @roman-boltunov on April 27, 2015 10:2_

@anuchandy, just tried to provide fake --host and --email parameters while creating SOA record-set, then it asks for whole set of parameters (host, email, expireTime, minimumTtl, refreshTime, retryTime, serialNumber). I've provided them and got new error:
**Error: Cannot create SOA records. A zone can only contain one SOA record at the zone root.**
Bu

[2015-05-07 18:25] anuchandy commented on #139
_From @roman-boltunov on April 27, 2015 10:5_

Here is the -vv for 'record-set create' using type SOA:
https://gist.github.com/roman-boltunov/1d248be5ec5692734d1d

[2015-05-07 19:07] anuchandy commented on #139
This issue was moved to MSOpenTech/azure-xplat-cli-pr#518

[2015-05-07 19:07] #139 closed

[2015-05-14 15:56] romangromov opened #158 "network lb address-pool create json not returning any info"
![1](https://cloud.githubusercontent.com/assets/1655573/7635639/cfd217aa-fa6a-11e4-99b2-5bf017b33ed1.PNG)
![2](https://cloud.githubusercontent.com/assets/1655573/7635648/d1813428-fa6a-11e4-852c-af4e4b04566f.PNG)

[2015-05-15 09:16] romangromov commented on #158
Duplicated here https://github.com/Azure/azure-xplat-cli/issues/1763

[2015-05-15 09:16] #158 closed

[2015-05-19 12:34] HimanshuBri opened #187 "ASM: 'network nsg show' should give error instead of warning for non-existing nsg names"
Have attached the screenshot for the same.
![image](https://cloud.githubusercontent.com/assets/10084788/7702954/7cea4f0e-fe51-11e4-9d54-c3e7a194fc5a.png)

[2015-05-19 12:48] HimanshuBri opened #189 "Avoid 'Looking up the network security group' during nsg create,delete"
@romangromov
We can implement this here also in asm as we have implemented in arm.
Have attached the screenshots for the same.
![image](https://cloud.githubusercontent.com/assets/10084788/7703112/fc8bfd10-fe52-11e4-9edd-a3a7502b232b.png)
![image](https://cloud.githubusercontent.com/assets/10084788/7703146/72ce8218-fe53-11e4-97b1-cc65740d95b5.png)

[2015-05-19 13:35] romangromov commented on #187
Hi @HimanshuBri, we are using `warn` instead of `error` for all non-existing resources in ARM and ASM as well

[2015-05-19 13:37] HimanshuBri commented on #187
@romangromov. but you changed it to error in the mentioned issue https://github.com/Azure/azure-xplat-cli/issues/1775

[2015-05-19 16:32] romangromov commented on #187
Adding @anuchandy to put some light of this

[2015-05-19 17:05] anuchandy commented on #187
@HimanshuBri @romangromov

The pattern we followed so far is:

Show  command: show warn in case of non-existing resource
Delete command: throw exception in case of non-existing resource

In case of show we support --json option, when this is specified and when the resource does not exist we show "{ }" in case of scalar resource and "[]" in case of collection resource, this is to ensure scripts whi

[2015-05-20 06:22] HimanshuBri commented on #187
@romangromov. Closing the issue as per @anuchandy's comments

[2015-05-20 06:22] #187 closed

[2015-05-20 09:35] HimanshuBri opened #191 "ASM: 'network nsg rule create' not woking when specifying symbol along with name"
@romangromov. Please have a look at the same. Have attached the screenshot.
![image](https://cloud.githubusercontent.com/assets/10084788/7722851/86fc3d58-ff01-11e4-9c19-a881fa62f989.png)

[2015-05-20 09:42] HimanshuBri commented on #191
Same issue happening with 'network nsg rule set' as well

[2015-05-20 10:55] HimanshuBri commented on #191
@roman-boltunov. same issue for list, show, delete commands as well.

[2015-05-20 12:13] HimanshuBri opened #193 "ASM: network vnet subnet show json not returning anything"
@romangromov. @roman-boltunov. network vnet subnet show --json not returning anything
<pre>
<code>
C:\May\19May\azure-xplat-cli-dev-asm-network>node bin/azure network vnet subnet show XplatTestVnet Subnet-2 --json
{}
{}

Although this subnet is there in the given vnet

C:\May\19May\azure-xplat-cli-dev-asm-network>node bin/azure network vnet subnet list XplatTestVnet
info:    Executing command netw

[2015-05-22 09:16] romangromov commented on #189
@HimanshuBri thank you, fixed it now, please make sure all is ok

[2015-05-22 10:26] HimanshuBri commented on #189
@romangromov  LGTM.Hence closing the issue
<pre>
<code>
C:\May\22May\azure-xplat-cli-dev-asm-network>node bin/azure network nsg create TestNsg22M "East US"
info:    Executing command network nsg create
+ Creating a network security group "TestNsg22M"
+ Looking up the network security group "TestNsg22M"
data:    Name                            : TestNsg22M
data:    Location                        :

[2015-05-22 10:26] #189 closed

[2015-05-22 11:02] MikhailTryakhov commented on #193
Hi @HimanshuBri
Could you please review it again

[2015-05-22 11:11] HimanshuBri commented on #193
@MikhailTryakhov. Can you please tell me the branch for taking the latest code for this fix.

[2015-05-22 16:07] anuchandy commented on #193
@HimanshuBri please use dev branch

[2015-05-25 08:43] HimanshuBri commented on #193
@anuchandy in dev branch there is no commands to manage subnet for ASM mode

[2015-05-25 09:55] MikhailTryakhov commented on #193
Hi @HimanshuBri, sorry - we were confused a bit cause of this error was reproduces in arm.
Thank you for clarification!
Now I've tested it in 'dev-asm-network' branch - it's fixed.
Could you please test it?

[2015-05-25 10:01] HimanshuBri commented on #193
@MikhailTryakhov. still not working. Can you just confirm because there is no new code check-in.

[2015-05-25 12:04] MikhailTryakhov commented on #193
@HimanshuBri  thank you! Please review it again

[2015-05-25 12:11] HimanshuBri commented on #193
@MikhailTryakhov. Working fine. Thanks . Closing the issue.
![image](https://cloud.githubusercontent.com/assets/10084788/7797099/480d788e-0305-11e5-9e5b-b2f1a8c5f06a.png)

[2015-05-25 12:11] #193 closed

[2015-05-28 07:23] HimanshuBri opened #224 "ASM: vm create with vnet taking too much time which is not a good user friendly experience"
Have attached the -vv output

<code>
<pre>
E:\4486\25-May-2015\azure-xplat-cli-dev>node bin/azure vm create -w testy TestVm60 VMImage11 -g azureuser -p Collabera@01 -vv
info:    Executing command vm create
warn:    --vm-size has not been specified. Defaulting to "Small".
verbose: Looking up image VMImage11
silly:   requestOptions
silly:   {
silly:       rawResponse: false,
silly:       queryString

[2015-05-28 11:58] roman-boltunov commented on #191
Hi @HimanshuBri. It's fixed now. Could you please check that everything works fine?

[2015-05-28 13:16] HimanshuBri commented on #191
@roman-boltunov. Working fine. Thanks. Closing the issue.

[2015-05-28 13:16] #191 closed

[2015-05-29 12:35] HimanshuBri opened #230 "ASM: network gateway vnet create not working on vnet created through CLI"
@romangromov
I created a vnet through cli & on that vnet tried to create gateway - its giving error
But on creating a vnet through portal & creating a gatewaysubnet on that vnet  , then on running network gateway vnet create is working fine.

Please find below the verbose output of the error
<pre>
<code>
C:\May\29May\azure-xplat-cli-dev-asm-network>node bin/azure network gateway vnet create --vnet

[2015-05-29 12:53] HimanshuBri opened #231 "ASM: network vnet local network add not working"
<pre>
<code>
I created 2 Local network under different vnets

C:\May\29May\azure-xplat-cli-dev-asm-network>node bin/azure network local-network create --name vnet1lnet11 --address-prefixes 10.1.0.0/16 --vpn-gateway-address 100.1
00.100.100
info:    Executing command network local-network create
+ Getting network configuration
+ Creating local network "vnet1lnet11"
+ Getting network configuration
d

[2015-05-29 12:56] romangromov commented on #230
Hi @HimanshuBri, to create an VPN Gateway for an existing vnet you should create a local network site at first. Please, follow the steps below and let me know does it work for you or not:

1.	Create first virtual network

azure network vnet create --vnet vnet1 --address-space 10.1.0.0 --cidr 16 --subnet-name subnet-1 --subnet-start-ip 10.1.0.0 --subnet-cidr 19 --location "West US"

2.	Create secon

[2015-05-29 13:10] HimanshuBri commented on #230
@romangromov  yes i am following the same steps as you specified here

Step1 to Step6 are working fine but Step 7 is not working.I have raised the issue for this also https://github.com/MSOpenTech/azure-xplat-cli/issues/Please

[2015-05-29 13:19] romangromov commented on #230
@HimanshuBri thanks, please check Steps 3) and 4) - the name of subnets should be exactly ```GatewaySubnet`` instead of arbitrary

[2015-05-29 13:43] romangromov commented on #230
Adding @anuchandy to make sure we are good with "GatewaySubnet" name for subnets, because it's not obviously to use such a name instead of arbitrary name here

[2015-05-29 14:44] roman-boltunov commented on #231
Hi @HimanshuBri. As @romangromov mentioned before, you must have 'GatewaySubnet' in your vnet to associate local network with your virtual network.

[2015-05-29 14:51] romangromov commented on #231
@roman-boltunov @panarasi  let's wait for comments from @anuchandy about this issue

[2015-05-29 17:09] anuchandy commented on #230
This is a requirement from server side but the server error is not clear enough.

In 'azure network vnet local-network add' command, can we add a simple info before 'Associating local network "' message saying,

'A subnet with name 'GatewaySubnet' must exists in the virtual network in-order to associate a local network with the virtual network'

[2015-05-29 18:46] anuchandy commented on #231
This is a requirement from server side but the server error is not clear enough.

In 'azure network vnet local-network add' command, can we add a simple info before 'Associating local network "' message saying,

'A subnet with name 'GatewaySubnet' must exists in the virtual network in-order to associate a local network with the virtual network'

[2015-05-30 10:50] roman-boltunov commented on #231
@anuchandy, @HimanshuBri done at PR https://github.com/MSOpenTech/azure-xplat-cli/pull/232

[2015-06-01 09:49] HimanshuBri commented on #230
@romangromov i followed the same name for step3) and 4) as you specified

Still local-network add command not working , hence not able to proceed.
Please have a look at the commands i run
<pre>
<code>
C:\June\1june\azure-xplat-cli-dev-asm-network>node bin/azure network vnet create --vnet vnet1 --address-space 10.1.0.0 --cidr 16 --subnet-name subnet-1 --subnet-start
-ip 10.1.0.0 --subnet-cidr 19 --

[2015-06-01 09:57] romangromov commented on #230
@HimanshuBri will fix this asap

[2015-06-01 10:07] HimanshuBri commented on #231
@roman-boltunov  @romangromov   i used the same name as specified by you.
Still not working
<pre>
<code>
C:\June\1june\azure-xplat-cli-dev-asm-network>node bin/azure network vnet local-network add --name vnet1 --local-network-name vnet2lnet -vv
info:    Executing command network vnet local-network add
verbose: Getting network configuration
silly:   requestOptions
silly:   {
silly:       rawRespons

[2015-06-01 10:15] romangromov commented on #231
@HimanshuBri this should be fixed now, could you please try once more again?

[2015-06-01 10:36] HimanshuBri commented on #231
@romangromov  yes its working fine now. Hence closing the issue

<pre>
<code>
C:\June\1june\3.40pm\azure-xplat-cli-dev-asm-network>node bin/azure network vnet local-network add --name vnet1 --local-network-name vnet2lnet
info:    Executing command network vnet local-network add
+ Getting network configuration
warn:    A subnet with name "GatewaySubnet" must exist in the virtual network in-order to

[2015-06-01 10:36] #231 closed

[2015-06-01 11:02] HimanshuBri commented on #230
@anuchandy  @roman-boltunov  Now gateway create and local-network add are  working fine . Hence closing the issue. Thanks
<pre>
<code>
C:\June\1june\3.40pm\azure-xplat-cli-dev-asm-network>node bin/azure network gateway vnet create --vnet-name vnet1 --type DynamicRouting
info:    Executing command network gateway vnet create
+ Creating gateway for the virtual network "vnet1"
+ Looking up network ga

[2015-06-01 11:02] #230 closed

[2015-06-01 11:05] romangromov commented on #230
@HimanshuBri you are welcome!

[2015-06-02 10:16] HimanshuBri opened #236 "ASM: 'network application-gateway create' with same name giving wrong error"
Have attached screenshot for the same.
![image](https://cloud.githubusercontent.com/assets/10084788/7933691/796673a6-093e-11e5-8417-6260f528fd2c.png)

[2015-06-02 10:24] HimanshuBri opened #237 "ASM: 'network application-gateway create' asking for vnet-subnet although it's not a mandatory parameter"
Have attached screenshot for the same.
![image](https://cloud.githubusercontent.com/assets/10084788/7933823/9e8a4d82-093f-11e5-9f7d-c6361aa92da1.png)

[2015-06-02 10:35] HimanshuBri opened #238 "ASM: 'network application-gateway create' not working for size ExtraLarge and A8"
Have attached screenshot for the same.
![image](https://cloud.githubusercontent.com/assets/10084788/7933988/266695de-0941-11e5-9494-cfe860640cf8.png)

[2015-06-02 10:39] roman-boltunov commented on #237
Hi @HimanshuBri. According to the application gateway doc:
[code]

[2015-06-02 10:50] HimanshuBri commented on #237
@roman-boltunov. Can you share the doc please.

[2015-06-02 11:00] roman-boltunov commented on #236
@HimanshuBri it's fixed now. Could you please test it once again?

[2015-06-02 11:02] roman-boltunov commented on #238
@HimanshuBri looks like external issue.
Adding @anuchandy.

[2015-06-02 11:04] HimanshuBri opened #240 "ASM: 'network application-gateway show' not showing description parameter"
Have attached screenshot for the same.
![image](https://cloud.githubusercontent.com/assets/10084788/7934455/3dcb2b64-0945-11e5-9fbd-4827debdf2fa.png)

[2015-06-02 11:06] HimanshuBri commented on #240
@roman-boltunov. Similarly verbose output also not displaying description.
![image](https://cloud.githubusercontent.com/assets/10084788/7934485/9034278e-0945-11e5-88fa-9da921b3534d.png)

[2015-06-02 11:07] roman-boltunov commented on #240
@HimanshuBri thank you. Will fix this asap.

[2015-06-02 11:14] roman-boltunov commented on #240
@HimanshuBri it's fixed now. Could you please test it once again?

[2015-06-02 12:30] HimanshuBri opened #242 "ASM: 'network application-gateway start' throwing error"
Have attached screenshot for the same.
![image](https://cloud.githubusercontent.com/assets/10084788/7935801/28c67118-0951-11e5-94a4-42e8f9769988.png)

[2015-06-02 12:49] HimanshuBri opened #243 "Asm: network gateway vnet reset not working"
network gateway vnet reset not working
![gateway reset error](https://cloud.githubusercontent.com/assets/10084788/7936065/cad4bec2-0953-11e5-9f70-a63728565aae.PNG)

[2015-06-02 12:52] HimanshuBri opened #244 "Asm: network gateway vnet resize not working"
network gateway vnet resize not working
![gateway rsize error on latest code](https://cloud.githubusercontent.com/assets/10084788/7936088/00bccbf6-0954-11e5-9a5c-d59975676b1c.PNG)

[2015-06-02 12:58] HimanshuBri opened #245 "Asm: network gateway vnet connection list not working"
network gateway vnet connection list not working

<pre>
<code>

C:\June\2june\azure-xplat-cli-dev-asm-network>node bin/azure network gateway vnet connection list vnet1
info:    Executing command network gateway vnet connection list
+ Getting the network connections
error:   undefined is not a function
info:    Error information has been recorded to C:\Users\sunil.kumar1\.azure\azure.err
error:   n

[2015-06-02 13:12] HimanshuBri opened #246 "ASM: 'network application-gateway create' error with subnet"
In the below screenshot i created a application-gateway using subnet-2 under vnet vnet2. I could create the same, but when i tried deleting this subnet i.e. subnet-2 i was able to delete it, although it was associated with created application-gateway.
I feel we should not be able to delete a subnet if it is associated with some other component as here it was associated to application-gateway.
Plea

[2015-06-02 13:23] HimanshuBri opened #247 "ASM: 'network application-gateway create' error with multiple subnets"
Giving error when specifying more than one subnet. Have attached screenshot for the same.
![image](https://cloud.githubusercontent.com/assets/10084788/7936669/82e8bfbe-0958-11e5-8259-6263790dc342.png)

[2015-06-02 13:24] HimanshuBri commented on #247
Same error with set option as well

[2015-06-02 15:07] romangromov commented on #244
@HimanshuBri known issue, waiting for feedback from AppGateway team, stay tuned

[2015-06-02 15:07] romangromov commented on #243
@HimanshuBri known issue, waiting for feedback from AppGateway team, stay tuned, thank you

[2015-06-03 08:49] roman-boltunov commented on #247
Adding @anuchandy. This is an external issue as the error comes from the server. In our application gateway doc we have a parameter for these commands called --subnet-names. But it looks like that server disallows us to specify multiple subnets.
Anu, could you please ask team responsible for application gateways if this behavior is expected.

[2015-06-03 08:50] roman-boltunov commented on #246
Adding @anuchandy. Can we report this to the team responsible for application gateways and ask them if this is expected?

[2015-06-03 08:57] roman-boltunov commented on #242
This is known issue. We need to set configuration for that application gateway first.

[2015-06-03 09:04] roman-boltunov commented on #237
@HimanshuBri yes, please check you Microsoft email.

[2015-06-03 09:07] HimanshuBri commented on #237
@roman-boltunov. Thanks. I got the same.

[2015-06-03 10:54] HimanshuBri commented on #237
@roman-boltunov. You are true as per document CLI will prompt for subnet-name if not provided. But if you look at the below mentioned command, i think he also wanted subnet-name as a mandatory parameter but by mistake he might have wrote vnet name instead of subnet-name.
@anuchandy. Can you please confirm this as subnet-name is a mandatory parameter here and is required in all the cases. So it wil

[2015-06-03 11:00] HimanshuBri commented on #236
@roman-boltunov. Thanks. Fixed now. Closing the issue.

[2015-06-03 11:00] #236 closed

[2015-06-03 11:03] HimanshuBri commented on #240
@roman-boltunov. Thanks. Fixed now. Closing the issue.

[2015-06-03 11:03] #240 closed

[2015-06-03 11:59] HimanshuBri opened #252 "ASM: 'network application-gateway set' not working if not specifying '--gateway-size' or '-z' parameter"
Have attached screenshot for the same.
![image](https://cloud.githubusercontent.com/assets/10084788/7959359/1242144a-0a16-11e5-84d4-090ba84f65fa.png)

[2015-06-03 12:00] HimanshuBri commented on #238
Same error for set command also.

[2015-06-03 12:08] HimanshuBri opened #253 "ASM: 'network application-gateway stop' showing unnecessary parameters."
We don't need '-q or --quiet' here as this is a stop command not a delete command.
Have attached the screenshot for the same.
![image](https://cloud.githubusercontent.com/assets/10084788/7959500/464f35b4-0a17-11e5-9fe2-8530a5d8f391.png)

[2015-06-03 12:15] HimanshuBri commented on #253
@roman-boltunov. Although we can change the functionality of '-q or --quiet' by using this to ask as a confirmation as if user wants to stop an application-gateway or not.

[2015-06-03 12:17] roman-boltunov commented on #253
@HimanshuBri there is no '-q' parameter in the doc. Will remove it asap.

[2015-06-03 12:19] HimanshuBri commented on #253
@roman-boltunov. yes it's not there in the document. Remove it then. Thanks.

[2015-06-03 12:50] roman-boltunov commented on #252
@HimanshuBri it's fixed now. Could you test it once again?

[2015-06-03 12:50] roman-boltunov commented on #253
@HimanshuBri removed this parameter. Could you check that everything works as expected?

[2015-06-03 13:08] HimanshuBri commented on #253
@roman-boltunov. Removed .Thanks. Closing the issue.

[2015-06-03 13:08] #253 closed

[2015-06-03 13:13] HimanshuBri commented on #252
@roman-boltunov. This error is fixed.
But i am getting below mentioned error for non-existing application-gateway. I feel we need to change error message. Attached the screenshot.
![image](https://cloud.githubusercontent.com/assets/10084788/7960728/5712f13e-0a20-11e5-96a3-ff9d1445dbdb.png)

[2015-06-03 13:18] roman-boltunov commented on #252
@HimanshuBri thank you! Fixed it.

[2015-06-03 13:29] HimanshuBri commented on #252
@roman-boltunov. Working fine. Thanks. Closing the issue.

[2015-06-03 13:29] #252 closed

[2015-06-03 14:42] MikhailTryakhov commented on #245
@HumanshiBri thank you , it's fixed now, could you please make sure that all is fine now?

[2015-06-03 18:24] anuchandy commented on #247
In the command we accept multiple subnets as per API documentation. This should be a  server limitation for now, server error explain it. We might want to mark it as external.

[2015-06-03 18:27] anuchandy commented on #246
Server shouldn't allow us to delete a resource if it is associated with another resource. Will report this to app gateway team.

[2015-06-03 18:37] anuchandy commented on #237
@roman-boltunov , @HimanshuBri - KG7 wrote this comment "Also add VNet as mandatory parameter" because he was not aware of nature of the positional parameter in CLI. We have a positional parameter for vnet which is enforced by CLI anyway. Now having only vnet is not sufficient, application gateway needs to be associated with a subnet under vnet, that's why we prompt for subnet.

[2015-06-03 21:56] anuchandy commented on #238
@HimanshuBri it is possible that our subscription may not support this higher sizes. Does it work for Large?

[2015-06-03 21:59] anuchandy commented on #246
We have reported this server behavior.  For CLI this is an external issue

[2015-06-04 05:37] HimanshuBri opened #257 "ASM:network gateway vnet diagnostics stop not working"
network gateway vnet diagnostics stop not working
<pre>
<code>
C:\June\2june\azure-xplat-cli-dev-asm-network>node bin/azure network gateway vnet diagnostics stop vnet1 -vv
info:    Executing command network gateway vnet diagnostics stop
verbose: Stopping diagnostics session in a virtual network "vnet1"
silly:   requestOptions
silly:   {
silly:       rawResponse: false,
silly:       queryString: {}

[2015-06-04 07:05] HimanshuBri commented on #238
@anuchandy. Yes it's working for Large

[2015-06-04 07:09] HimanshuBri commented on #237
@anuchandy. That is what i thought, since subnet-name is compulsory parameter and is required whenever we do 'network application-gateway create', why don't we make it mandatory instead of prompting it every time.

[2015-06-04 07:56] romangromov commented on #243
Attaching full http request/response logs: https://gist.github.com/romangromov/40941a54de412c1c4b6c.js

[2015-06-04 08:01] romangromov commented on #244
Attaching full http request/response logs:
https://gist.github.com/romangromov/c448e1a9cb04b9d2c131#file-asm-vnet-gateway-resize-output

[2015-06-04 08:04] romangromov opened #258 "Asm: network gateway vnet set-default-site not working"
![screenshot_1](https://cloud.githubusercontent.com/assets/1655573/7979606/63139504-0aa9-11e5-9f57-a4c79de02202.png)

[2015-06-04 08:05] romangromov commented on #258
Attaching full http request/response logs:
https://gist.github.com/romangromov/fcb3b071f1f49757ad22#file-asm-vnet-gateway-set-default-site-output

[2015-06-04 08:26] roman-boltunov commented on #257
Hi @HimanshuBri, did you start diagnostics session before stopping it?

[2015-06-04 08:55] HimanshuBri opened #259 "ASM: 'network route-table show' not displaying all parameters"
Can we have "label" in normal show and --verbose output as well, as we have in --json output.
Have attached screenshot for the same.
![image](https://cloud.githubusercontent.com/assets/10084788/7980479/7b751cc8-0ac5-11e5-9dbd-9f70a889a29f.png)

[2015-06-04 08:57] roman-boltunov commented on #259
@HimanshuBri Yep, will fix this asap.

[2015-06-04 09:27] HimanshuBri opened #260 "ASM: 'network route-table route set' not working for next-hop-type "VirtualAppliance""
Have attached the screenshot for the same.

![image](https://cloud.githubusercontent.com/assets/10084788/7981063/07fc9032-0aca-11e5-8e92-3aae13888f20.png)

[2015-06-04 09:32] romangromov commented on #260
@HimanshuBri known issue, external, reported to @anuchandy, stay tuned, thank you

[2015-06-04 09:35] HimanshuBri opened #261 "ASM: 'network route-table route set' not working for address-prefixes other than 0.0.0.0/0"
Have attached screenshot for the same.
![image](https://cloud.githubusercontent.com/assets/10084788/7981209/fddd0612-0aca-11e5-9128-40b8c6247937.png)

[2015-06-04 09:39] romangromov commented on #261
@HimanshuBri known issue, external, reported to @anuchandy, stay tuned, thank you

[2015-06-04 10:06] HimanshuBri opened #262 "ASM: 'network route-table delete' and 'network route-table route delete' difference in implementation"
When i am trying to delete a non-existing 'route-table' it asks for a confirmation first [y/n] then tells the user that a particular 'route-table' doesn't exist whereas in 'route-table route' it directly tells us and throws error for non-existing 'route-table route'. I feel second second one is a better practice and we should follow same at both the places.
Have attached screenshot for the same.
!

[2015-06-04 10:07] roman-boltunov commented on #262
@HimanshuBri ok, will fix this.

[2015-06-04 10:46] HimanshuBri commented on #245
@MikhailTryakhov. Not getting the list. Its showing No VPN gateway connections found. have attached the screenshot for the same.
![image](https://cloud.githubusercontent.com/assets/10084788/7982468/f171f5fe-0ad4-11e5-870b-644ef6d346ec.png)

[2015-06-04 10:51] roman-boltunov opened #264 "ASM: 'network gateway vnet vpn-device get-script' throws error"
Attached gist: https://gist.github.com/roman-boltunov/845a1b379fdc2b60be7c

[2015-06-04 10:54] HimanshuBri opened #265 "ASM: 'network gateway vnet diagnostics start' wrong error message for non-exisiting storage account"
Have attached screenshot for the same.
![image](https://cloud.githubusercontent.com/assets/10084788/7982593/217a220c-0ad6-11e5-9210-99732396ba25.png)

[2015-06-04 11:37] HimanshuBri opened #266 "ASM: 'network gateway vnet diagnostics start' prompts for all other available options"
Since 'network gateway vnet diagnostics start' is prompting for all other options available it will be better if we can make them mandatory.
Have attached screenshot for the same.
![image](https://cloud.githubusercontent.com/assets/10084788/7983255/ffded998-0adb-11e5-88ca-7efe7b766efd.png)

[2015-06-04 11:39] HimanshuBri commented on #257
@roman-boltunov. Yes

[2015-06-04 12:02] HimanshuBri opened #267 "ASM: 'network gateway vnet diagnostics get' not giving output with --json"
Have attached the screenshot for the same.
![image](https://cloud.githubusercontent.com/assets/10084788/7983585/9592327a-0adf-11e5-8ff0-d9d3cedbe0a8.png)

[2015-06-04 12:05] HimanshuBri commented on #267
@roman-boltunov. Also can you please tell us the use of -o,-p,-f parameters in below mentioned command.<code><pre>
E:\4486\4-June-2015\azure-xplat-cli-dev-asm-network>node bin/azure network gateway vnet diagnostics get vnet2 -h
help:    Get current diagnostics session in a virtual network gateway
help:
help:    Usage: network gateway vnet diagnostics get [options] <vnet-name>
help:
help:    Option

[2015-06-04 12:39] roman-boltunov commented on #266
Adding @anuchandy. Is that suitable approach?

[2015-06-04 12:40] roman-boltunov commented on #257
@HimanshuBri then which storage did you use? Did you create it, or was it created before?

[2015-06-04 12:41] roman-boltunov commented on #267
@HimanshuBri you can find them using 'network gateway vnet vpn-device list' command.

[2015-06-04 13:26] roman-boltunov commented on #265
Adding @anuchandy. Should I use storage management client there, or should server handle this?

[2015-06-04 13:37] roman-boltunov commented on #259
@HimanshuBri fixed. Please make sure it works as expected.

[2015-06-04 13:37] roman-boltunov commented on #262
@HimanshuBri fixed. Please make sure it works as expected.

[2015-06-04 13:37] roman-boltunov commented on #267
@HimanshuBri fixed. Please make sure it works as expected.

[2015-06-04 14:15] HimanshuBri commented on #267
@roman-boltunov  yes working fine.Hence closing the issue
<pre>
<code>
C:\June\4june\azure-xplat-cli-dev-asm-network>node bin/azure network gateway vnet diagnostics get vnet2 --json
{
  "state": "Ready",
  "diagnosticsUrl": "https://gruntstg.blob.core.windows.net/disks/VNetGatewayDiagCapture_UTC_6_4_2015_11_46_05_AM_2.txt?sv=2014-02-14&sr=c&si=GatewayReadOnly&sig=3VMx
S5ZiBYyAF8vZLaRsX4SePGBOCc9CI

[2015-06-04 14:18] HimanshuBri commented on #262
@roman-boltunov  yes its working fine now
<pre>
<code>
C:\June\4june\azure-xplat-cli-dev-asm-network>node bin/azure network route-table delete --name Sample
info:    Executing command network route-table delete
+ Getting route table "Sample"
error:   Route table "Sample" not found
info:    Error information has been recorded to C:\Users\sunil.kumar1\.azure\azure.err
error:   network route-table de

[2015-06-04 14:18] #262 closed

[2015-06-04 17:44] anuchandy commented on #246
Confirmed that this is a bug in RDFE so it is external.

[2015-06-05 06:37] HimanshuBri commented on #259
@roman-boltunov. Working fine. Thanks. Closing the issue.

[2015-06-05 06:37] #259 closed

[2015-06-05 06:44] HimanshuBri commented on #257
@roman-boltunov. It was created before.

[2015-06-05 06:55] #267 closed

[2015-06-05 06:57] HimanshuBri opened #270 "ASM: 'network gateway vnet diagnostics get' giving same output even with -o, -p, -f options"
Have attached the screenshot for the same.
![image](https://cloud.githubusercontent.com/assets/10084788/8000926/26fc1318-0b7e-11e5-9b9d-c4d3b7cefbdd.png)

[2015-06-05 07:57] HimanshuBri opened #271 "ASM: 'network traffic-manager profile enable' showing unnecessary parameters"
-q not required. Please find the attached screenshot.
![image](https://cloud.githubusercontent.com/assets/10084788/8001765/7e11c136-0b86-11e5-9c6c-88f8f91ee6d6.png)

[2015-06-05 07:58] HimanshuBri opened #272 "ASM: 'network traffic-manager profile enable' no output with --json"
Have attached the screenshot for the same.
![image](https://cloud.githubusercontent.com/assets/10084788/8001785/ac1fb3a8-0b86-11e5-86ef-c4598d489748.png)

[2015-06-05 08:33] HimanshuBri commented on #272
Same issue with disable as well. Please check the screenshot.
![image](https://cloud.githubusercontent.com/assets/10084788/8002356/a79f13aa-0b8b-11e5-85f5-e4e2d5661b93.png)

[2015-06-05 08:35] HimanshuBri commented on #271
Same issue with disable as well. Please check the attached screenshot.
![image](https://cloud.githubusercontent.com/assets/10084788/8002384/e7781bc0-0b8b-11e5-8c36-c5e78a78b128.png)

[2015-06-05 09:14] HimanshuBri opened #273 "ASM: 'network local-network create' giving error"
Have attached screenshot for the same.
![image](https://cloud.githubusercontent.com/assets/10084788/8003015/44ae55fc-0b91-11e5-91c6-4477ad06878f.png)

[2015-06-05 09:31] HimanshuBri commented on #273
Same issue with set command as well. Have attached the screenshot.
![image](https://cloud.githubusercontent.com/assets/10084788/8003265/9b0eecd4-0b93-11e5-8656-eeaea1cae603.png)

[2015-06-05 09:49] HimanshuBri commented on #273
None of the commands related to 'network local-network' are working.

[2015-06-05 10:34] HimanshuBri commented on #273
@MikhailTryakhov. 'network vnet local-network add' as well
![image](https://cloud.githubusercontent.com/assets/10084788/8004318/81f0557c-0b9c-11e5-9ccc-def84d95f068.png)

[2015-06-05 10:36] roman-boltunov commented on #270
@HimanshuBri my bad, these parameters are actually not for this command, these parameters used in 'vpn-device get-script' command, will remove them from 'diagnostics get'.

[2015-06-05 10:37] romangromov commented on #273
@HimanshuBri thank you, this issue for all local-network commands should be fixed now

[2015-06-05 10:39] roman-boltunov commented on #257
@HimanshuBri could you please try to create it yourself, so we can actually see that error depends on it.

[2015-06-05 10:40] romangromov commented on #272
@HimanshuBri thank you, will fix

[2015-06-05 10:41] romangromov commented on #271
@HimanshuBri thank you, will fix

[2015-06-05 10:44] romangromov commented on #271
@HimanshuBri thank you, fixed now, please make sure all is fine

[2015-06-05 10:46] HimanshuBri commented on #270
@roman-boltunov. Sure. thanks.

[2015-06-05 10:49] roman-boltunov commented on #270
@HimanshuBri thanks, I fixed it. Please make sure it works as expected.

[2015-06-05 10:58] HimanshuBri commented on #273
@romangromov. will check all the issues and let you know. Thanks.

[2015-06-05 10:58] HimanshuBri commented on #272
@romangromov. Ok. Thanks.

[2015-06-05 11:08] MikhailTryakhov commented on #245
@HimanshuBri  it doesn't show any connections because List is empty. First, we need to add a connection to the collection. Currently, commands to manage connections are Blocked.

[2015-06-05 11:27] HimanshuBri commented on #245
@MikhailTryakhov. Ok. Thanks. In that case will keep the issue open and will close when we have ther connection commands.

[2015-06-05 11:33] HimanshuBri commented on #273
@romangromov. Getting error when not specifying address-prefix and vpn-gateway-address
![image](https://cloud.githubusercontent.com/assets/10084788/8005186/b5065418-0ba4-11e5-916f-1d2002270c1f.png)

[2015-06-05 11:35] HimanshuBri commented on #271
@romangromov. Working fine. Thanks. Closing the issue.

[2015-06-05 11:35] #271 closed

[2015-06-05 11:36] romangromov commented on #273
Adding @MikhailTryakhov who owns this command

[2015-06-05 11:53] HimanshuBri commented on #270
@roman-boltunov. Thanks it's fixed. Closing the issue.

[2015-06-05 11:53] #270 closed

[2015-06-05 11:58] HimanshuBri commented on #273
@romangromov, @MikhailTryakhov, @roman-boltunov. I feel we should change this error message as it is referring to some code.
![image](https://cloud.githubusercontent.com/assets/10084788/8005477/220738b8-0ba8-11e5-91d8-3ff587fe1f86.png)

[2015-06-05 12:10] HimanshuBri opened #277 "ASM: 'network local-network create' working when specified same address-prefix multiple times."
have attached the screenshot for the same.
![image](https://cloud.githubusercontent.com/assets/10084788/8005641/f137f7fc-0ba9-11e5-9ea0-d0d9f85b31f5.png)

[2015-06-05 12:23] HimanshuBri opened #278 "ASM: 'network local-network create' working with wrong vpn-gateway-address"
Have attached screenshot for the same.
![image](https://cloud.githubusercontent.com/assets/10084788/8005833/c9bdb12e-0bab-11e5-9524-84b4275344df.png)

[2015-06-05 12:47] HimanshuBri opened #279 "ASM: 'network local-network set' showing wrong error message with wrong address-prefix"
Have attached screenshot for the same.
![image](https://cloud.githubusercontent.com/assets/10084788/8006189/1848ccc2-0baf-11e5-8245-40d486ba6a29.png)

[2015-06-05 12:50] HimanshuBri commented on #277
Same issue with set command as well. Please find the attached screenshot.
![image](https://cloud.githubusercontent.com/assets/10084788/8006219/639e2bd6-0baf-11e5-9d95-18a82a759c3b.png)

[2015-06-05 12:56] HimanshuBri commented on #278
Same issue with set command as well. Please find the attached screenshot.
![image](https://cloud.githubusercontent.com/assets/10084788/8006299/1cb0d060-0bb0-11e5-831c-7d5b8313753a.png)

[2015-06-05 13:06] HimanshuBri opened #280 "ASM: 'network local-network list' not displaying all the address-prefixes in case of multiple address-prefixes"
Have attached screenshot for the same.
![image](https://cloud.githubusercontent.com/assets/10084788/8006456/bb672b04-0bb1-11e5-913c-5fbf81a55355.png)

[2015-06-05 13:08] HimanshuBri commented on #280
Same issue in case of --verbose output as well. Although working fine for --json output. Please check the attached screenshot.
![image](https://cloud.githubusercontent.com/assets/10084788/8006478/f7b0118e-0bb1-11e5-900d-fca5e1a26c63.png)

[2015-06-05 13:21] romangromov commented on #280
@HimanshuBri it's by design. When we have multiple address-prefixes then it will be truncated with 3 dots

[2015-06-05 13:23] HimanshuBri commented on #280
@romangromov. Ok. thanks. Closing the issue.

[2015-06-05 13:23] #280 closed

[2015-06-05 13:26] HimanshuBri opened #281 "ASM: 'network -h' giving error."
Please check the code snippet. 2nd and 3rd last line
<code><pre>

E:\4486\5-June-2014\azure-xplat-cli-dev-asm-network (2)>node bin/azure network -h
help:    Commands to manage your Networks
help:
help:    Export the current Network configuration to a file
help:      network export [options] <file-path>
help:
help:    Set the Network configuration from a json file
help:      network import [options

[2015-06-05 13:46] romangromov commented on #281
@HimanshuBri thank you, it's fixed now, please make sure all is fine

[2015-06-08 07:14] HimanshuBri commented on #281
@romangromov. Thanks. Working fine. Closing the issue.

[2015-06-08 07:14] #281 closed

[2015-06-08 08:13] HimanshuBri opened #284 "ASM: 'network vnet create' gives error when specifying only mandatory parameters"
Have attached the screenshot for the same.
![image](https://cloud.githubusercontent.com/assets/10084788/8030412/5693e304-0de4-11e5-8306-997afd0d8678.png)

[2015-06-08 08:24] HimanshuBri opened #285 "ASM: 'network subnet create' giving error"
Please find the attached screenshot.
![image](https://cloud.githubusercontent.com/assets/10084788/8030621/e77d26ae-0de5-11e5-9bed-fa0c7c9fbb60.png)

[2015-06-08 08:26] romangromov commented on #284
Hi @HimanshuBri, sorry, we are not owns `ASM: network vnet` commands set, it's external.
Adding @anuchandy could you please confirm it's external? Thank you in advance

[2015-06-08 08:27] HimanshuBri commented on #284
@romangromov. Ok. Thanks. But please have a look at https://github.com/MSOpenTech/azure-xplat-cli/issues/285 as it's a blocking issue for us.

[2015-06-08 08:31] romangromov commented on #284
@HimanshuBri thank you for information, we are looking into this

[2015-06-08 08:41] MikhailTryakhov commented on #285
@HimanshuBri thank you, could you please try to use "10.0.0.0/8" address prefix in create command?
Will it unblock you?

[2015-06-08 08:48] romangromov commented on #285
@HimanshuBri looks like used `subnet address space` is not valid in `vnet address space`. Please, try use another one `address prefix for subne`t and make sure it's valid on `vnet address space` range.

[2015-06-08 09:21] HimanshuBri commented on #285
@MikhailTryakhov @romangromov. I feel there is some other error.
Have at look at the screenshot.
![image](https://cloud.githubusercontent.com/assets/10084788/8031646/cc1ab068-0ded-11e5-8273-2b7c954039b3.png)

[2015-06-08 10:34] roman-boltunov commented on #237
@anuchandy should we make this parameter mandatory?

[2015-06-08 10:35] roman-boltunov commented on #238
@anuchandy can we report this issue and mark it as external?

[2015-06-08 11:37] HimanshuBri opened #286 "ASM: 'network application-gateway import-file' giving error"
Please find the attached screenshot for the same.
![image](https://cloud.githubusercontent.com/assets/10084788/8033965/dd38195e-0e00-11e5-8b37-993d79b06833.png)

[2015-06-08 11:44] romangromov commented on #286
Please attach xml configuration file used in this case

[2015-06-08 11:49] HimanshuBri commented on #286
Cannot attach xml configuration file. Not supported.
Below i have mentioned the contents of xml file.
{"backendAddressPools":[],"backendHttpSettingsList":[],"frontendIPConfigurations":[],"frontendPorts":[],"httpListeners":[],"httpLoadBalancingRules":[]}

[2015-06-08 11:56] romangromov commented on #286
* sorry, `JSON` file, of course (XML is used in PowerShell analog). We can not set an empty configuration for an existing app gateway - it's by design on server side. All configuration objects (backend address pools, http settings, etc.) must contains at least one object.

Attaching JSON configuration as good point to start with:

[code]

[2015-06-08 12:01] romangromov commented on #286
@HimanshuBri you are right, error message is not clear enough, but we have to go with it.
Comment from Kapil, who owns server side implementation: `SetConfig  is failing as you are using empty config`
Adding @anuchandy to confirm it's external and no action required from our side

[2015-06-08 12:01] HimanshuBri commented on #286
@romangromov. Thanks. Working fine when using above content.

[2015-06-08 12:02] romangromov commented on #286
@HimanshuBri please, let me know if you have any questions on this, you are always welcome!

[2015-06-08 12:11] MikhailTryakhov commented on #273
@HimanshuBri thank you! This issue should be fixed for all local-network commands now.

[2015-06-08 12:13] MikhailTryakhov commented on #279
@HimanshuBri thank you! Currently, this issue should be fixed. Could you please confirm that it's working now?

[2015-06-08 12:19] HimanshuBri commented on #286
@romangromov. Thanks. I feel we can close this issue as i was using wrong xml file.

[2015-06-08 12:20] romangromov commented on #286
@HimanshuBri let's wait confirmation from @anuchandy at first

[2015-06-08 12:20] HimanshuBri commented on #286
@romangromov. Sure

[2015-06-08 12:31] roman-boltunov commented on #257
@HimanshuBri I think server response is clear enough for the end user. If you have no access to the storage, so you can't work with it.

[2015-06-08 12:36] MikhailTryakhov commented on #278
@HimanshuBri thanks! The issue should be fixed, now. Could you please confirm it?

[2015-06-08 17:05] romangromov commented on #277
@anuchandy should we add an extra validation to exclude address-prefixes duplicates on CLI side? Looks like server allows us to create a local-network with address-prefixes duplicates

[2015-06-08 17:37] anuchandy commented on #284
@HimanshuBri thanks for validating this. Let me explain the pattern we follow in CLI.

In RDFE, a set of parameters are required to make the API calls, but in the corresponding CLI commands we will not make all of those parameters as positional. We accept minimal parameters via positional arguments and remaining required parameters via optional arguments.

The optional arguments, if not provided a

[2015-06-08 18:03] anuchandy commented on #286
@HimanshuBri , @romangromov currently app gateway service returns "internal server error" if there is any error in the config we submit. We can hope server team will provide better error message before making the service public. I feel like we can close this issue.

[2015-06-08 18:12] anuchandy commented on #266
Please see the comment for https://github.com/MSOpenTech/azure-xplat-cli/issues/284 regarding the CLI command pattern.

We used to accept all required argument as positional argument, but as we have more and more  parameters, declaring all of them as positional make makes command usage difficult as user need to specify arguments in specific order. This is why we accept some required params via opt

[2015-06-08 18:13] anuchandy commented on #265
This must be handled by server, it is external.

[2015-06-08 18:15] anuchandy commented on #238
This should be marked as external, we will also confirm with server team that this is a subscription limitation or server limitation.

[2015-06-08 18:26] anuchandy commented on #277
@romangromov as per general feedback from server team we are trying to reduce the validation we do in the CLI side, suggestion is to relay on server for any validation. But above error seems like a serious (thanks @HimanshuBri ) we will inform this server team.

We already asked Kapil for contact details of team owning network config file to report issues we found while working on app gateway. We

[2015-06-09 06:19] #286 closed

[2015-06-09 06:22] HimanshuBri commented on #266
@anuchandy. Thanks. Closing the issue

[2015-06-09 06:22] #266 closed

[2015-06-09 06:47] HimanshuBri opened #289 "ASM : vm endpoint create not giving output in proper format"
vm endpoint create , vm endpoint create --json , vm endpoint create -vv all giving output in same format .
<pre>
<code>
C:\June\9june\azure-xplat-cli-dev>node bin/azure vm endpoint create XplatTesttVm  8080 -n TestVmEndpt
info:    Executing command vm endpoint create
{ error: null,
  endPoint:
   { port: 8080,
     localPort: 8080,
     protocol: 'tcp',
     name: 'TestVmEndpt' } }

C:\June\9june\

[2015-06-09 06:50] HimanshuBri opened #290 "ASM: vm endpoint create not giving error for non-existing vm"
Here sample is non existing vm .But no error message is coming in output.
<pre>
<code>
C:\June\9june\azure-xplat-cli-dev>node bin/azure vm endpoint create Sample 8080 80
info:    Executing command vm endpoint create
{ error: null,
  endPoint:
   { port: 8080,
     localPort: 80,
     protocol: 'tcp',
     name: 'tcp-8080-80' } }
</code>
</pre>

[2015-06-09 06:55] HimanshuBri opened #291 "ASM: vm endpoint list not working as expected"
vm endpoint list is displaying empty DATA for a newly created vm
<pre>
<code>
C:\June\9june\azure-xplat-cli-dev>node bin/azure vm endpoint list XplatTesttVm
info:    Executing command vm endpoint list
+ Getting virtual machines
<b>data:
data:
</b>
info:    vm endpoint list command OK
</code>
</pre>

[2015-06-09 06:59] HimanshuBri commented on #291
Verbose output -

<pre>
<code>
C:\June\9june\azure-xplat-cli-dev>node bin/azure vm endpoint list XplatTesttVm --json
[]

C:\June\9june\azure-xplat-cli-dev>node bin/azure vm endpoint list XplatTesttVm -vv
info:    Executing command vm endpoint list
verbose: Getting virtual machines
silly:   requestOptions
silly:   {
silly:       rawResponse: false,
silly:       queryString: {},
silly:       method:

[2015-06-09 07:06] HimanshuBri opened #292 "ASM:vm endpoint create should have optional parameter for local-port in the help"
vm endpoint create should have optional parameter(like -k or something ) for local-port in the help
<pre>
<code>
help:    Usage: vm endpoint create [options] <vm-name> <public-port> [local-port]
help:
help:    Options:
help:      -h, --help                                                     output usage information
help:      -v, --verbose                                                  use verb

[2015-06-09 07:52] romangromov opened #293 "ASM: cannot add more then one frontend-ip to an application gateway config"
Comment from Kapil Garg <kaga@microsoft.com>:

`
ASM doesn’t support one cloud service having more than one private end point. Hence application gateway supports only one FrontendIP configuration.
`

Attaching full http request/response: https://gist.github.com/romangromov/dad66aa2cabfccf1489a#file-asm-app-gateway-frontendip-add

[2015-06-09 08:00] romangromov commented on #260
Attaching  full http request/response here https://gist.github.com/romangromov/5a058e7e44cb6344c945#file-asm-route-table-set

[2015-06-09 08:00] romangromov commented on #261
Attaching  full http request/response here https://gist.github.com/romangromov/5a058e7e44cb6344c945#file-asm-route-table-set

[2015-06-09 08:03] romangromov commented on #260
Attaching full http request/response herehttps://gist.github.com/romangromov/d35ca5dae9bd7dd30ec7#file-asm-route-table-set-type

[2015-06-09 08:16] HimanshuBri commented on #279
@MikhailTryakhov. Thanks. Working fine. Closing the issue.

[2015-06-09 08:16] #279 closed

[2015-06-09 08:22] HimanshuBri commented on #278
@MikhailTryakhov. Thanks. Working fine. Closing the issue.

[2015-06-09 08:23] HimanshuBri commented on #273
@MikhailTryakhov. Thanks. Working fine. Closing the issue.

[2015-06-09 08:23] #273 closed

[2015-06-09 08:28] roman-boltunov commented on #265
@anuchandy thank you for clarifying.

[2015-06-09 08:28] roman-boltunov commented on #238
@anuchandy thank you. Marked it as external.

[2015-06-09 08:30] HimanshuBri commented on #285
@romangromov. Any updates on this.

[2015-06-09 08:41] romangromov commented on #272
@HimanshuBri hello again, it's fixed for `enable` and `disable` commands as well. Please make sure it works fine now

[2015-06-09 09:16] HimanshuBri commented on #272
@romangromov. Thanks. Working fine. Closing the issue.

[2015-06-09 09:16] #272 closed

[2015-06-09 10:16] HimanshuBri opened #295 "ASM: 'network traffic-manager profile' inconsistency in Status"
Have attached screenshot for the same. Status is Disable while creating, but it becomes Enable while performing show command.
![image](https://cloud.githubusercontent.com/assets/10084788/8055613/73fdde38-0ebe-11e5-91ae-8c473dbf96eb.png)

[2015-06-09 10:17] roman-boltunov commented on #295
Hi @HimanshuBri it takes a little time for traffic manager to change its state.

[2015-06-09 10:19] HimanshuBri commented on #295
@roman-boltunov. That means it's happening at server end.

[2015-06-09 10:22] roman-boltunov commented on #295
@HimanshuBri yes, we might want to mark it as external. Adding @anuchandy. Can you please clarify if it's ok to leave it as is, or should we report this issue and ask for some 'intermediate' state like 'updating' or 'enabling'?

[2015-06-09 10:25] roman-boltunov commented on #257
@HimanshuBri any updates on this? Have you tried to create storage yourself and then execute diagnostics start and stop specifying created storage?

[2015-06-09 10:48] HimanshuBri opened #296 "ASM:vm endpoint set not working"
<pre>
<code>

C:\June\9june\azure-xplat-cli-dev>node bin/azure vm endpoint list DnDIntelliJ
info:    Executing command vm endpoint list
+ Getting virtual machines
data:    Name            Protocol  Public Port  Private Port  Virtual IP       EnableDirectServerReturn  Load Balanced
data:    --------------  --------  -----------  ------------  ---------------  ------------------------  -------------

[2015-06-09 10:51] HimanshuBri commented on #257
@roman-boltunov. I will tell you the steps that i followed:-
First of all i created a storage account just now. Then started the diagnostics then tried to run the stop command, got the same error.
Here is the screenshot for the same.
![image](https://cloud.githubusercontent.com/assets/10084788/8056218/8af0f2e2-0ec3-11e5-8137-564e0b370483.png)

[2015-06-09 11:13] MikhailTryakhov commented on #293
Same for the 'frontend-ip remove' command

[2015-06-09 11:20] roman-boltunov commented on #257
@HimanshuBri thank you, I verified it and found defect which raises that behavior. It's fixed now, could you please retest it?

[2015-06-09 11:31] HimanshuBri commented on #257
@roman-boltunov. Getting below mentioned error now.
![image](https://cloud.githubusercontent.com/assets/10084788/8056789/2e4d9300-0ec9-11e5-93f4-1270564c34f6.png)

[2015-06-09 11:32] roman-boltunov commented on #257
@HimanshuBri you should start diagnostics session first

[2015-06-09 12:21] MikhailTryakhov commented on #285
@HimanshuBri We have found that subnet name is always the same - Subnet-1 instead of cli-provided name, this looks like a server side issue

[2015-06-09 12:22] MikhailTryakhov commented on #285
Adding @anuchandy to confirm it's external

[2015-06-09 13:03] MikhailTryakhov commented on #285
Attaching full http request/response: https://gist.github.com/MikhailTryakhov/0d00525dc1f075d54803

[2015-06-09 16:40] anuchandy commented on #295
This is external. We will report this to TM team.

[2015-06-09 17:19] anuchandy commented on #237
@roman-boltunov  please make it as optional positional argument, if not provided then prompt for it.

[2015-06-09 20:44] anuchandy commented on #296
@HimanshuBri I have updated the dev branch, could you please validate

[2015-06-09 20:44] anuchandy commented on #292
@HimanshuBri I have updated the dev branch, could you please validate

[2015-06-09 20:44] anuchandy commented on #291
@HimanshuBri I have updated the dev branch, could you please validate

[2015-06-09 20:44] anuchandy commented on #290
@HimanshuBri I have updated the dev branch, could you please validate

[2015-06-09 20:44] anuchandy commented on #289
@HimanshuBri I have updated the dev branch, could you please validate

[2015-06-10 06:23] HimanshuBri commented on #237
Thanks @anuchandy for the confirmation.
@roman-boltunov. It is already implemented the way @anuchandy has asked. so we can close this. Thanks.

[2015-06-10 06:27] HimanshuBri commented on #284
@anuchandy. Thanks for the clarification. I feel we can close this.

[2015-06-10 06:27] #284 closed

[2015-06-10 06:59] HimanshuBri commented on #289
@anuchandy Yes.Now working fine.Closing the issue
<pre>
<code>
C:\June\10june\azure-xplat-cli-dev>node bin/azure vm  endpoint create XplatestTVm 23 23 -n EndpT
info:    Executing command vm endpoint create
+ Getting virtual machines
+ Reading network configuration
+ Updating network configuration
info:    vm endpoint create command OK
</code>
</pre>

[2015-06-10 06:59] #289 closed

[2015-06-10 07:06] HimanshuBri commented on #291
@anuchandy  yes now working fine.Hence closing the issue
<pre><code>
C:\June\10june\azure-xplat-cli-dev>node bin/azure vm  endpoint list XplatestTVm
info:    Executing command vm endpoint list
+ Getting virtual machines
data:    Name       Protocol  Public Port  Private Port  Virtual IP       EnableDirectServerReturn  Load Balanced
data:    ---------  --------  -----------  ------------  ---------

[2015-06-10 07:06] #291 closed

[2015-06-10 07:09] HimanshuBri commented on #292
@anuchandy yes now the optional parameter for local-port  is added in the help.Thanks.
Closing the issue
<pre>
<code>
C:\June\10june\azure-xplat-cli-dev>node bin/azure vm endpoint create -h
help:    Create a VM endpoint
help:
help:    Usage: vm endpoint create [options] <vm-name> <public-port> [local-port]
help:
help:    Options:
help:      -h, --help

[2015-06-10 07:09] #292 closed

[2015-06-10 07:10] HimanshuBri commented on #296
@anuchandy  yes now working fine.Hence closing the issue
<pre>
<code>
C:\June\10june\azure-xplat-cli-dev>node bin/azure vm  endpoint set XplatestTVm EndpT -n EndPt -l LbSet -b 24 -c 24 -o tcp -m 15 -t 4444 -r tcp  -a sourceIP
info:    Executing command vm endpoint set
+ Getting virtual machines
+ Reading network configuration
+ Updating network configuration
info:    vm endpoint set command OK
</c

[2015-06-10 07:10] #296 closed

[2015-06-10 07:12] HimanshuBri commented on #290
@anuchandy  yes working as expected.Closing the issue
<pre>
<code>
C:\June\10june\azure-xplat-cli-dev>node bin/azure vm endpoint create Sample 27 27
info:    Executing command vm endpoint create
+ Getting virtual machines
error:   No VM with name "Sample" found
error:   vm endpoint create command failed
</code>
</pre>

[2015-06-10 07:12] #290 closed

[2015-06-10 08:51] romangromov commented on #286
@HimanshuBri @anuchandy please note: I've re-worked `app gateway config` commands for better user experience (like it done in PowerShell) and one extra command `app gateway config show` was implemented as well
[code]

[2015-06-10 10:13] HimanshuBri opened #305 "ASM: vm endpoint create & set command must be consistent for optional parameters"
load-balanced-set-name has -b option in create command & -l twice in set command
Can we use same option for both create & set command?

<pre>
<code>
C:\June\10june\azure-xplat-cli-dev>node bin/azure vm endpoint create -h
help:    Create a VM endpoint
help:
help:    Usage: vm endpoint create [options] <vm-name> <public-port> [local-port]
help:
help:    Options:
help:      -h, --help

[2015-06-10 10:32] roman-boltunov commented on #237
@HimanshuBri by the 'optional + positional' he means that we need to add it as positional, but we can also specify it as optional with --subnet-names. I will make it as positional asap.

[2015-06-10 10:45] HimanshuBri commented on #237
@roman-boltunov. Thanks. Reopening the issue. will close it once it's fixed for optional parameter as well.

[2015-06-10 10:46] HimanshuBri opened #306 "ASM: vm endpoint create giving error with direct-server-return option"
<pre>
<code>
C:\June\10june\azure-xplat-cli-dev>node bin/azure vm endpoint create XplatestTVm 29 29 -n EndPt2 -o tcp -m 20 -t 4222 -r http -p /prob/listnerr -u Enabled
info:    Executing command vm endpoint create
+ Getting virtual machines
+ Reading network configuration
+ Updating network configuration
error:   A parameter was incorrect
info:    Error information has been recorded to C:\Users\su

[2015-06-10 10:52] roman-boltunov commented on #237
@HimanshuBri it's fixed now. Could you please check it?

[2015-06-10 12:55] HimanshuBri commented on #237
@roman-boltunov. Thanks. Working fine now. Closing the issue.

[2015-06-10 12:55] #237 closed

[2015-06-10 13:00] HimanshuBri commented on #286
@romangromov. Thanks

[2015-06-10 21:26] anuchandy commented on #306
@HimanshuBri can you please check again?

[2015-06-10 21:27] anuchandy commented on #305
@HimanshuBri thanks, fixed, please validate

[2015-06-11 06:23] HimanshuBri commented on #305
@anuchandy  yes its fixed.thanks

[2015-06-11 06:23] #305 closed

[2015-06-11 06:48] HimanshuBri commented on #306
@anuchandy yes its working fine now.Thanks
<pre>
<code>
C:\June\11june\azure-xplat-cli-dev>node bin/azure vm endpoint create XplatestTVm 29 29 -n EndPt -o tcp -m 20 -t 4222 -r http -p /prob/listnerr -u Enabled
info:    Executing command vm endpoint create
+ Getting virtual machines
+ Reading network configuration
+ Updating network configuration
info:    vm endpoint create command OK
</code>
</pre

[2015-06-11 06:48] #306 closed

[2015-06-11 06:54] HimanshuBri opened #310 "ASM: vm endpoint set not working for direct-server-return option"
<pre>
<code>
C:\June\11june\azure-xplat-cli-dev>node bin/azure vm endpoint set XplatestTVm EndPt -u Disabled
info:    Executing command vm endpoint set
+ Getting virtual machines
+ Reading network configuration
+ Updating network configuration
error:   Windows Azure does not support modifying Direct Server Return settings on an existing endpoint. Please delete and recreate the endpoint with Direct

[2015-06-11 07:52] HimanshuBri commented on #245
@MikhailTryakhov. Closing this issue. Thanks

[2015-06-11 07:52] #245 closed

[2015-06-11 09:15] HimanshuBri opened #311 "ASM: 'network vnet local-network add' giving error."
Please find attached screenshot.
![image](https://cloud.githubusercontent.com/assets/10084788/8103742/660e07d6-1048-11e5-994f-2e0df6de5cea.png)

[2015-06-11 09:19] roman-boltunov commented on #257
@HimanshuBri please try following steps:
1. start diagnostics session for about 300 seconds.
2. try to stop diagnostics session in that period of time.

[2015-06-11 09:21] HimanshuBri commented on #257
@roman-boltunov. Thanks. Will try above steps.

[2015-06-11 09:24] HimanshuBri commented on #311
@roman-boltunov. Also can we have a command to know already added local-networks to a particular vnet.

[2015-06-11 09:31] roman-boltunov commented on #311
@HimanshuBri you can use 'vnet show' for it and find associated local-networks in 'gateway sites'
![123](https://cloud.githubusercontent.com/assets/9554294/8103979/c60d952e-1035-11e5-8e2c-b204d1c335d4.png)

[2015-06-11 09:31] HimanshuBri opened #312 "ASM: 'network vnet local-network add' giving wrong error message when specifying already added local-network"
Please find the attached screenshot.
![image](https://cloud.githubusercontent.com/assets/10084788/8103983/bfe1d254-104a-11e5-84e2-4dd69a84e7f0.png)

[2015-06-11 09:33] roman-boltunov commented on #312
@HimanshuBri this might be external, lets wait for @anuchandy to answer on it.

[2015-06-11 09:34] HimanshuBri commented on #311
@roman-boltunov. Thanks.

[2015-06-11 10:04] HimanshuBri opened #313 "ASM: 'network vnet local-network remove' giving error"
Please find the attached screenshot.
![image](https://cloud.githubusercontent.com/assets/10084788/8104548/35de4fb0-104f-11e5-9476-85b8c7bb1a8d.png)

[2015-06-11 10:16] roman-boltunov commented on #313
@HimanshuBri it is fixed now. Please make sure it works fine now.

[2015-06-11 10:39] roman-boltunov commented on #311
@HimanshuBri
For the first error: gateway must not be inside specified address prefix. Here error message is not clear. Adding @anuchandy to clarify if we must handle this error or server should do this.
For the second error: associated local network address prefixes must not overlap each other. I think error message is clear enough here.

[2015-06-11 10:42] HimanshuBri commented on #311
@roman-boltunov. For the second error message, if we look at the network address prefixes they are different

[2015-06-11 10:45] roman-boltunov commented on #311
@HimanshuBri yes, but they are overlapping each other.
Testlocnet3 is 10.0.0.0/9. Its range is 10.0.0.0 - 10.127.255.255.
Vpn is 10.16.0.0/27. Its range is 10.16.0.0 - 10.16.0.31.

[2015-06-11 11:00] HimanshuBri commented on #313
@roman-boltunov. I feel in the error message in below screenshot instead of gateway we should write local-network.
![image](https://cloud.githubusercontent.com/assets/10084788/8105470/1b1f6aee-1057-11e5-81ad-428cf330cb95.png)

[2015-06-11 11:09] roman-boltunov commented on #313
@HimanshuBri thanks. Changed it.

[2015-06-11 11:10] HimanshuBri commented on #311
@roman-boltunov. Got it. Thanks. So we just have to fix for first error message.

[2015-06-11 11:20] HimanshuBri commented on #313
@roman-boltunov. thanks. Everything looks good. Closing the issue.

[2015-06-11 11:20] #313 closed

[2015-06-11 11:30] HimanshuBri opened #316 "ASM: 'network application-gateway address-pool add' cannot see added address-pool"
Please check the attached screenshot.
![image](https://cloud.githubusercontent.com/assets/10084788/8105983/543dd0fa-105b-11e5-9292-a539419c2eeb.png)

[2015-06-11 11:37] roman-boltunov commented on #311
@HimanshuBri yes, let's wait for @anuchandy proposal.

[2015-06-11 11:39] romangromov commented on #316
@HimanshuBri please use `azure network application-gateway config show` command to get details about app gateway config

[2015-06-11 11:40] HimanshuBri opened #317 "ASM: 'network application-gateway address-pool add' working with wrong IP Address"
Please find the attached screenshots.
![image](https://cloud.githubusercontent.com/assets/10084788/8106064/e7dde61a-105b-11e5-8686-41e6b179d3d2.png)

Also working when specifying same IP address more than once.
![image](https://cloud.githubusercontent.com/assets/10084788/8106177/c0a1a7a2-105c-11e5-9896-fb8780697a9e.png)

[2015-06-11 11:43] HimanshuBri commented on #316
@romangromov. Thanks. Working fine. Closing the issue.

[2015-06-11 11:43] #316 closed

[2015-06-11 11:47] romangromov commented on #317
@HimanshuBri added validation, please make sure all is fine

[2015-06-11 11:57] romangromov commented on #317
@anuchandy server allows us to create an backend address pool with ip address duplicates, so we need to inform Kapil about this issue and mark it as `external`, please confirm

[2015-06-11 12:12] romangromov commented on #317
@HimanshuBri I've reported duplicates issue to Kapil, will keep you informed about this, stay tuned

[2015-06-11 12:14] HimanshuBri commented on #317
@romangromov. Thanks. Can you please check below error screenshot.
![image](https://cloud.githubusercontent.com/assets/10084788/8106713/6fa90142-1061-11e5-8742-7e4890302492.png)

[2015-06-11 12:20] HimanshuBri opened #319 "ASM: 'network application-gateway http-settings add' wrong description for protocol"
Please find the attached screenshot. Since there is only one value we should change the description to 'valid value is [Http]' instead of 'valid values are [Http],'
![image](https://cloud.githubusercontent.com/assets/10084788/8106823/5a9a78f2-1062-11e5-9566-6bcd74fd53af.png)

[2015-06-11 12:28] HimanshuBri commented on #319
Also, can we use same port for more than one http-settings. Please check below mentioned screenshot.
![image](https://cloud.githubusercontent.com/assets/10084788/8106969/715ad590-1063-11e5-8c63-b363c4d32f78.png)

[2015-06-11 12:43] HimanshuBri opened #320 "ASM: 'network gateway vnet shared-key set' not working"
Please find attached code snippet.<code><pre>E:\4486\11-June-2015\azure-xplat-cli-dev-asm-network>node bin/azure network gateway vnet shared-key set vnet abcd -t Testlocnet -vv
info:    Executing command network gateway vnet shared-key set
verbose: Setting up shared key for vnet "vnet"
silly:   requestOptions
silly:   {
silly:       rawResponse: false,
silly:       queryString: {},
silly:       me

[2015-06-11 12:48] romangromov commented on #319
@HimanshuBri `protocol` description updated,

@anuchandy server allowas us to create more then one `http-settings` with the same `port`. Should we add any king of CLI side validation or this should be handled on server side?

[2015-06-11 12:54] HimanshuBri opened #322 "ASM: 'network gateway vnet shared-key reset' not working"
Please check code snippet.
<code><pre>
E:\4486\11-June-2015\azure-xplat-cli-dev-asm-network>node bin/azure network gateway vnet shared-key reset vnet 123 -t testlocnet -vv
info:    Executing command network gateway vnet shared-key reset
verbose: Resetting shared key for vnet "vnet"
silly:   requestOptions
silly:   {
silly:       rawResponse: false,
silly:       queryString: {},
silly:       method

[2015-06-11 13:01] roman-boltunov commented on #320
@HimanshuBri for now what I see is that request body is not generated correctly, could you please provide a screenshot of -vv output?

[2015-06-11 13:05] HimanshuBri commented on #319
@romangromov. Thanks

[2015-06-11 13:10] HimanshuBri commented on #320
@roman-boltunov. Screenshot for -vv output.
![image](https://cloud.githubusercontent.com/assets/10084788/8107751/3f0bbe46-1069-11e5-8097-8efaeb367055.png)

[2015-06-11 13:11] HimanshuBri commented on #320
@roman-boltunov. vnet and local network screenshot.
![image](https://cloud.githubusercontent.com/assets/10084788/8107787/7e796b28-1069-11e5-943e-b198d165d325.png)

[2015-06-11 13:15] roman-boltunov commented on #320
@HimanshuBri can you try to set shared key for virtual network that associated with local network? Can you also try to set shared key for virtual network that already have gateway? Please share the results.

[2015-06-11 13:19] HimanshuBri commented on #320
@roman-boltunov. Is it any specific key. how can we fetch it?

[2015-06-11 13:21] roman-boltunov commented on #320
@HimanshuBri you can specify whatever you want for the key. For example 'set shared-key vnet -k "abcd" -t "testlocnet" ' must work.

[2015-06-11 13:23] roman-boltunov commented on #320
@HimanshuBri actually we can set shared key only for virtual networks that have gateway.

[2015-06-11 13:27] HimanshuBri commented on #320
@roman-boltunov. I hope this is fine.
![image](https://cloud.githubusercontent.com/assets/10084788/8108052/af9d80c0-106b-11e5-8138-c0da59f316c9.png)

[2015-06-11 13:31] roman-boltunov commented on #320
@HimanshuBri this is completely strange. But I think anyway, according to server response we can mark it as external as it is not clear enough what's actually goes wrong.
Adding @anuchandy to confirm this is external.

[2015-06-11 13:32] roman-boltunov commented on #322
Adding @anuchandy. Please refer to #320 as it looks the same. Can we mark it as external as well?

[2015-06-11 13:48] roman-boltunov commented on #320
@HimanshuBri one more thing, could you please also show 'vnet1' and 'testlocnet'?

[2015-06-11 13:56] HimanshuBri commented on #320
@roman-boltunov. Is this fine.
![image](https://cloud.githubusercontent.com/assets/10084788/8108698/b00cc652-106f-11e5-9510-93060c0b33c5.png)

[2015-06-11 14:40] roman-boltunov commented on #320
@HimanshuBri yes, looks like you did not associated virtual network with local network, that throws an error.

[2015-06-11 17:11] anuchandy commented on #224
@HimanshuBri All we do is making server calls, so if server takes time as a client we can't do anything.

[2015-06-11 17:14] anuchandy commented on #319
@romangromov let us not add any validation that server suppose to do, this is the suggestion from server team. @HimanshuBri  we reported this to server team.

[2015-06-11 17:17] anuchandy commented on #317
@romangromov let us not add any validation that server suppose to do. @HimanshuBri  we reported this to server team.

[2015-06-11 17:24] anuchandy commented on #312
@roman-boltunov just confirming, are we doing any check to see the association already exists?

is this check straight forward? for example simple checking of an array with name, if yes then lets do it.

if it involves complex client side check (like subnet overlapping check) then we should rely on server.

[2015-06-11 17:31] anuchandy commented on #310
@HimanshuBri as of now server won't support updating this property, server is returning meaningful error in this case, this is external.

[2015-06-11 17:35] anuchandy commented on #322
If reset is failing due to not associated virtual network with local network, then it is external. Please confirm.

[2015-06-12 08:03] HimanshuBri commented on #319
@anuchandy. Thanks.

[2015-06-12 08:03] HimanshuBri commented on #317
@anuchandy. Thanks.

[2015-06-12 08:06] HimanshuBri commented on #224
@babumuralidharan. Have a look at the same.

[2015-06-12 08:14] HimanshuBri commented on #320
@roman-boltunov. Its working after associating virtual network with local network, but how can we see this shared-key

[2015-06-12 08:21] HimanshuBri commented on #322
@anuchandy @roman-boltunov. Reset also working only after associating virtual network with local network.

[2015-06-12 09:07] romangromov commented on #317
@HimanshuBri UPD: I've added validation for DNS name, now it should support IPv4 or DNS name as bakend pool address. Let's wait response from Kapil about duplicates issue

[2015-06-12 10:10] HimanshuBri commented on #278
@MikhailTryakhov. Again working with wrong vpn-gateway-address. Please check the attached screenshot.
![image](https://cloud.githubusercontent.com/assets/10084788/8128050/4b2fa4f2-1119-11e5-950d-932e186b9409.png)

[2015-06-15 09:15] HimanshuBri opened #325 "ASM: able to delete a virtual-network even when a application gateway associated to that virtual-network is still existing"
Please find the attached screenshot.
![image](https://cloud.githubusercontent.com/assets/10084788/8156791/28ee615c-136d-11e5-8ed8-91520d322330.png)

[2015-06-15 09:44] romangromov commented on #325
@HimanshuBri thank you, this should me marked as external and reported to app gateway team,
adding @anuchandy to confirm

[2015-06-15 09:50] HimanshuBri opened #327 "ASM: 'network application-gateway http-listener add' wrong error message for non-existing frontend-port"
Please find the attached screenshot.
![image](https://cloud.githubusercontent.com/assets/10084788/8157380/fe33798e-1371-11e5-9773-d379f598cfad.png)

[2015-06-15 10:01] HimanshuBri opened #328 "ASM: 'network application-gateway http-listener add' not working properly"
Taking Http as Https
Please see code snippet below.
<code><pre>E:\4486\15-June-2015\azure-xplat-cli-dev-asm-network>node bin/azure network application-gateway http-listener add --gateway-name Testappgate7 --name Testhttplist1 --frontend-ip-name fip1 --protocol http --frontend-port-name Testfrontport1
info:    Executing command network application-gateway http-listener add
+ Getting configuration f

[2015-06-15 10:03] HimanshuBri commented on #328
Please check below code snippet as well. <code><pre>E:\4486\15-June-2015\azure-xplat-cli-dev-asm-network>node bin/azure network application-gateway http-listener add --gateway-name Testappgate7 --name Testhttplist1 --frontend-ip-name fip1 --protocol https --frontend-port-name Testfrontport1 -c E:\4486\15-June-2015\azure-xplat-cli-dev-asm-network\test\myCert.pem -v
info:    Executing command networ

[2015-06-15 10:07] roman-boltunov commented on #320
@HimanshuBri do you ask how can we look at the shared key after using 'set' command?

[2015-06-15 10:08] HimanshuBri commented on #320
@roman-boltunov. yes

[2015-06-15 10:08] roman-boltunov commented on #322
@HimanshuBri thank you for verifying.
@anuchandy looks like it is external. Please confirm.

[2015-06-15 10:11] roman-boltunov commented on #320
@HimanshuBri when we use 'set' command, we specify this key using '--key-value' parameter. For now it is not possible to show shared key through CLI. You can find this shared key on Azure portal only.

[2015-06-15 10:12] HimanshuBri commented on #320
@roman-boltunov.Ok. Thanks for the information.

[2015-06-15 10:31] roman-boltunov commented on #312
@anuchandy thank you for clarification.
@HimanshuBri it is fixed now. Please make sure it works fine.

[2015-06-15 10:34] roman-boltunov commented on #320
@anuchandy, according to @HimanshuBri comment - https://github.com/MSOpenTech/azure-xplat-cli/issues/322#issuecomment-111410185, this issue is also external. Please confirm.

[2015-06-15 10:39] HimanshuBri commented on #317
@romangromov. Getting error in address-pool add. Please see the code snippet. <code><pre>
E:\4486\15-June-2015\azure-xplat-cli-dev-asm-network>node bin/azure network application-gateway address-pool add Testappgate Testaddpool -vv
info:    Executing command network application-gateway address-pool add
List of IP addresses or DNS names: 10.10.10.10
verbose: Getting configuration for an application

[2015-06-15 10:45] MikhailTryakhov opened #330 "ASM: 'network dnsserver list' giving error."
Please see screenshot below:

![untitled](https://cloud.githubusercontent.com/assets/3079588/8158309/b4621cc8-1364-11e5-96d4-ef75eb685fad.png)

[2015-06-15 10:50] romangromov commented on #317
@HimanshuBri we need to set a non-empty configuration for an existing application gateway at first before making any change (add or remove something) related to configuration - this is by design on server side. Please, run `azure network application-gateway config import` at first, referencing comment with JSON config https://github.com/MSOpenTech/azure-xplat-cli/issues/286#issuecomment-109964863

[2015-06-15 10:51] roman-boltunov commented on #257
@HimanshuBri any updates on this?

[2015-06-15 10:53] HimanshuBri commented on #257
@roman-boltunov. Tried it, was getting some internal server error. Will test it once again and let you know the outcome.

[2015-06-15 11:02] MikhailTryakhov commented on #330
@HimanshuBri we accidentally found this issue. We are not owns `dnsserver` commands set, however fix was pretty straightforward, so we made it. Could you please confirm it's working fine now?

[2015-06-15 11:02] roman-boltunov commented on #257
@HimanshuBri thank you.

[2015-06-15 11:03] MikhailTryakhov commented on #330
@anuchandy could you please confirm that it's external?

[2015-06-15 11:03] HimanshuBri commented on #330
@MikhailTryakhov. Sure. Will check it and let you know.

[2015-06-15 11:05] HimanshuBri commented on #330
@MikhailTryakhov. I am not getting this issue even in the old code.

[2015-06-15 11:08] HimanshuBri commented on #330
@MikhailTryakhov. Getting this error whenever list is empty.

[2015-06-15 11:18] HimanshuBri commented on #330
@MikhailTryakhov. Working fine now. Thanks.

[2015-06-15 11:24] MikhailTryakhov commented on #330
@HimanshuBri thanks!

[2015-06-15 11:25] HimanshuBri opened #332 "ASM: 'network application-gateway lb-rule add' type parameter taking any value"
Please see the code snippet. <code><pre>E:\4486\15-June-2015\azure-xplat-cli-dev-asm-network>node bin/azure network application-gateway lb-rule add --gateway-name Testappgate --name Testlbrule2 --http-settings setting1 --http-listener listener1 --address-pool pool1 --type gfhsdgjsk -v
info:    Executing command network application-gateway lb-rule add
verbose: Getting configuration for an applicati

[2015-06-15 12:32] MikhailTryakhov commented on #327
@HimanshuBri thank you! Currently, it should be fixed.

[2015-06-15 12:32] MikhailTryakhov commented on #328
@HimanshuBri thank you! Currently, it should be fixed.

[2015-06-15 12:49] #330 closed

[2015-06-15 12:58] sreekanthbs opened #335 "ASM: network application-gateway ssl-cert add command giving wrong error"
ASM network application-gateway ssl-cert add command giving wrong error
<pre>
<code>
C:\Jun2015\15-Jun\azure-xplat-cli-dev-asm-network>node bin/azure network application-gateway ssl-cert add Testappgate sslCert -t C:\myCert.pem -p Brillio@2015
info:    Executing command network application-gateway ssl-cert add
+ Adding SSL certificate "sslCert" to application gateway "Testappgate"
error:   object

[2015-06-15 13:00] roman-boltunov commented on #335
@sreekanthbs hi, this is a known issue. It's already reported, let's wait for news about it.

[2015-06-15 13:11] MikhailTryakhov commented on #278
@HimanshuBri thank you!
Seems it's external issue. '010' value becomes '8' because server uses Octal system when value starts from '0'. @anuchandy could you please confirm that it's external?

Attaching full request/response: https://gist.github.com/MikhailTryakhov/4bf9f2a019814e2b07ee

[2015-06-15 14:51] MikhailTryakhov opened #336 "ASM: 'network traffic-manager profile endpoint create' validation error"
Please see screenshot below:
![untitled](https://cloud.githubusercontent.com/assets/3079588/8162600/0f84ccfa-1387-11e5-874e-60ce1e163d1b.png)

Attaching full request/response: https://gist.github.com/MikhailTryakhov/cb72599df6a9a7c41751

[2015-06-15 14:54] MikhailTryakhov commented on #336
Also tried with 'my-contoso.trafficmanager.net' and 'xplatcontoso.trafficmanager.net' domains.

[2015-06-15 15:03] MikhailTryakhov commented on #332
@HimanshuBri thank you! Seems it's external issue as well. Server allows put any value - no any kind of validation on server side. We've reported it to the Network team. I'll update it when get a response.
@anuchandy Could you please confirm that it's external?

[2015-06-16 02:11] anuchandy commented on #278
@HimanshuBri

This is expected, as @MikhailTryakhov  mentioned IP address can be referred using octal representation as well.

$ ping 134.170.185.056

Pinging 134.170.185.46 with 32 bytes of data:

[2015-06-16 02:14] anuchandy commented on #285
@HimanshuBri here we are overlapping the IP address range. i.e. the subnet range for subnet-1 and subnet-4 is overlapping. We have already reported this to network team.

[2015-06-16 02:16] anuchandy commented on #332
@HimanshuBri this is server validation issue, so external to CLI.

[2015-06-16 02:17] anuchandy commented on #325
Yes app gateway team is aware of this bug, we reported it.

[2015-06-16 06:39] HimanshuBri commented on #317
@romangromov. Thanks.

[2015-06-16 08:03] romangromov commented on #325
@anuchandy thank you for confirmation

[2015-06-16 09:29] HimanshuBri commented on #328
@MikhailTryakhov. Thanks. Working fine for Http. Giving error for Https. Please check the code snippet.<code><pre>E:\4486\16-June-2015\azure-xplat-cli-dev-asm-network>node bin/azure network application-gateway http-listener add --gateway-name Testappgate --name Testhttplist2 --frontend-ip-name fip1 --protocol https --frontend-port-name fep1 -c E:\4486\16-June-2015\azure-xplat-cli-dev-asm-network\t

[2015-06-16 09:34] HimanshuBri commented on #327
@MikhailTryakhov. Workng fine. Thanks. closing the issue.

[2015-06-16 09:34] #327 closed

[2015-06-16 09:43] HimanshuBri commented on #278
@anuchandy. Thanks. Its ok if it is converting the number using octal representation.

[2015-06-16 14:35] HimanshuBri commented on #312
@roman-boltunov  Still getting the same error
<pre>
<code>
C:\June\15june\azure-xplat-cli-dev-asm-network>node bin/azure network vnet local-network add -n CliTestVnet1176 -l CliTestLocNet28683
info:    Executing command network vnet local-network add
+ Getting network configuration
warn:    A subnet with name "GatewaySubnet" must exist in the virtual network in-order to associate a local network w

[2015-06-16 15:25] #312 closed

[2015-06-17 08:43] MikhailTryakhov commented on #278
@HimanshuBri hi, if everything is OK now, could you please close the issue?

[2015-06-17 08:44] HimanshuBri commented on #278
@MikhailTryakhov. Everything looks good. Closing the issue

[2015-06-17 08:44] #278 closed

[2015-06-17 08:52] sreekanthbs opened #342 "ASM: vm create with --ssh, --ssh-cert is not working"
VM create with --ssh and --ssh-cert is failing to create VM
<pre>
<code>
C:\Jun2015\17-Jun\azure-xplat-cli-dev>node bin/azure vm create TestVMDelete VMImage -g azureuser -p Brillio@2015 -t C:\Users\sreekanth.bandaru\.ssh\github_rsa.p
ub -e 22 -l "West US"
info:    Executing command vm create
warn:    --vm-size has not been specified. Defaulting to "Small".
error:   --ssh (SSH port, default to 22)

[2015-06-17 09:22] HimanshuBri commented on #242
@roman-boltunov. Even after importing application gateway file, application-gateway start is not working. Please find the attached screenshot.

[2015-06-17 09:26] roman-boltunov commented on #242
@HimanshuBri please share the screenshot and application gateway configuration file contents.

[2015-06-17 09:28] HimanshuBri commented on #242
@roman-boltunov. File contents.<code><pre>data:    Frontend IP configurations:
data:      Name                          : fip1
data:      Type                          : Private
data:      Static IP address             : 10.0.0.10
data:
data:    Backend address pools:
data:      Name                          : pool1
data:      Backend servers:
data:        IP address                  : 10.0.0.1
da

[2015-06-18 02:36] babumuralidharan opened #345 "ARM: network vnet list with empty resource group throws error"
Do an azure network vnet list
Cmd run will prompt for resource group name
Just hit enter without mentioning resource group name.
 command fails with api invalid error.

This is pretty much common error for all list commands. This might be a regression.

We will have to fix this in sprint 50 branch as this issue should be fixed in the upcoming sprint.

__Verbose output below:__

[code]

[2015-06-18 03:38] babumuralidharan commented on #345
Closing this as we are triaging this issue in azure repo

[2015-06-18 03:38] #345 closed

[2015-06-18 06:35] HimanshuBri commented on #257
@roman-boltunov  yes its working.Thanks. But do we need to give duration as 300 seconds only?

[2015-06-18 08:51] roman-boltunov commented on #257
@HimanshuBri no, we set 300 seconds just to have enough time to try to stop diagnostics.

[2015-06-18 09:07] HimanshuBri commented on #257
@roman-boltunov. Thanks for the confirmation. Working fine.

[2015-06-18 09:18] HimanshuBri commented on #257
@roman-boltunov. Please find the attached screenshot. Not working for small duration like 30.
![image](https://cloud.githubusercontent.com/assets/10084788/8227944/aee2306a-15c8-11e5-8dd0-040da9d3a5af.png)

[2015-06-18 09:20] roman-boltunov commented on #257
@HimanshuBri thank you, will investigate it.

[2015-06-18 09:46] roman-boltunov commented on #242
@HimanshuBri thanks, we might want to mark it as external.
Adding @anuchandy to confirm. We tried to set configuration which looks right, after we tried to execute 'application-gateway start' and then got Internal server error.

[2015-06-19 11:28] MikhailTryakhov commented on #336
Comment from Jonathan Tuliani:
`The endpoints are the services to which Traffic Manager is directing traffic.  There are 4 endpoints types:
1.	CloudService.  This is what you chose.  In this case, the <DomainName> must be of the form ‘foobar.cloudapp.net’ and the service ‘foobar.cloudapp.net’ must exist in the same subscription.
2.	AzureWebsite.  In this case <DomainName> must be of the form ‘foob

[2015-06-19 16:16] anuchandy commented on #322
yes as we discussed above this is external since reset is failing due to not associated virtual network with local network

[2015-06-19 16:17] roman-boltunov commented on #322
@anuchandy thank you for confirming.

[2015-06-19 16:18] anuchandy commented on #320
This is external,  shared key reset works only if vnet is associated with a local network.

[2015-06-19 16:21] anuchandy commented on #242
Thanks @roman-boltunov let me inform Kapil about this error.

@HimanshuBri could you please share the application gateway file (not the server response) but the exported file.

[2015-06-22 07:27] HimanshuBri commented on #242
@anuchandy. I have shared the snippet for exported file. <code><pre>{"backendAddressPools":[{"backendServers":[{"iPAddress":"10.0.0.1"}],"name":"pool1"},{"backendServers":[{"iPAddress":"10.0.0.2"}],"name":"MyPool"},{"backendServers":[{"iPAddress":"10.10.10.10"}],"name":"Testaddpool"},{"backendServers":[{"iPAddress":"10.0.0.0"}],"name":"testbip"}],"backendHttpSettingsList":[{"name":"setting1","port

[2015-06-22 08:38] HimanshuBri opened #353 "ASM: 'network traffic-manager profile endpoint create' giving error"
Please find the attached code snippet.<code><pre>E:\4486\22-June-2015\azure-xplat-cli-dev-asm-network>node bin/azure network traffic-manager profile endpoint create Testtm Testdom1.trafficmanager.net TrafficManager -l westus
info:    Executing command network traffic-manager profile endpoint create
+ Looking up the traffic manager profile "Testtm"
+ Looking up the traffic manager definition "Testt

[2015-06-22 10:52] HimanshuBri opened #354 "ARM: 'vm image list' giving different OS for same offer and sku"
Please find the attached screenshot.
![image](https://cloud.githubusercontent.com/assets/10084788/8280428/cde2a3fc-18fa-11e5-9111-ab4625125703.png)

[2015-06-22 11:06] roman-boltunov commented on #257
@HimanshuBri tried this, when we execute this command it takes about ~35 seconds to response, but diagnostics session starts immediately, so the minimal duration we can specify is about 40 seconds and it will work(with this amount of time) only if we will try to stop diagnostics session immediately after start. I think these are all expected, there no issue.

[2015-06-22 11:51] HimanshuBri commented on #257
@roman-boltunov. Working for 50 seconds and above, but failing for values below that. Please check the attached screenshot.
![image](https://cloud.githubusercontent.com/assets/10084788/8281207/12ba4cca-1903-11e5-8888-b81653a440a4.png)

[2015-06-22 11:55] roman-boltunov commented on #257
@HimanshuBri thanks for testing.
Adding @anuchandy, please refer our last two comments. Is it expected and OK, or should we report this? Could you please share your thoughts?

[2015-06-22 12:16] roman-boltunov commented on #311
@anuchandy can you please share your thoughts about first error (invalid IP address)? Should we fix it from our side, or should we report this as external and ask for more clear message?

[2015-06-22 13:09] HimanshuBri opened #355 "Asm:network vnet local-network remove not working"
<pre>
<code>
C:\June\17june\azure-xplat-cli-dev-asm-network>node bin/azure network vnet local-network remove clitestlocvnet7922 clitestlocnet3134
info:    Executing command network vnet local-network remove
+ Getting network configuration
error:   Local network "clitestlocnet3134" does not exist
info:    Error information has been recorded to C:\Users\sunil.kumar1\.azure\azure.err
error:   network

[2015-06-22 15:54] roman-boltunov opened #357 "ASM: 'network local-network remove' giving error"
Trying to remove local network which is associated with virtual network and getting this error:
<pre>
<code>
D:\Projects\azure-xplat-cli-roman\bin>node azure network local-network delete vnetForGate1lnet -q
info:    Executing command network local-network delete
+ Getting network configuration
+ Deleting local network site "vnetForGate1lnet"
error:   XML Schema validation error in network configur

[2015-06-22 15:57] roman-boltunov commented on #355
@HimanshuBri it is fixed now. Could you please test it once more?

[2015-06-22 16:40] roman-boltunov commented on #357
We can fix this if we will look at the network configuration virtual networks and find if the local network is already associated with virtual network, then we will throw exception.

[2015-06-22 18:04] anuchandy commented on #357
@roman-boltunov as you suggested I think it's good to check for the association and fail.

Just confirming, user can remove the association using the command:

vnet local-network remove [name] [local-network-name]

And try the command

network local-network remove

To remove the local network, right?

[2015-06-22 18:04] roman-boltunov commented on #357
@anuchandy exactly, it works just as you mentioned.

[2015-06-22 23:09] anuchandy commented on #257
Is this the correct repo step:

If we start diagnostics session for a duration less than 50 sec then stopping such session throws the error "The current gateway public diagnostics state does not allow stopping an existing public diagnosis session". For all duration > 50 sec, stop won't throw error.

[2015-06-22 23:17] anuchandy commented on #311
@roman-boltunov please report first error to server team, they should improve the error message

[2015-06-22 23:18] anuchandy commented on #357
@roman-boltunov thanks for confirming.

[2015-06-23 08:19] roman-boltunov commented on #257
@anuchandy yes, that's true, but only if we have enough time to stop diagnostics session. I think 45 seconds is the lowest duration. I personally think this is not an issue. For 'start' command it takes about ~40 seconds to response. So, even if diagnostics session starts before server responses, still diagnostics session works as expected.

[2015-06-23 08:33] roman-boltunov commented on #357
@anuchandy thanks, added check for association.
@sreekanthbs, I fixed this issue, could you please check that it works as expected?

[2015-06-23 09:19] HimanshuBri commented on #355
@roman-boltunov  yes its working fine now.Thanks

[2015-06-23 09:19] #355 closed

[2015-06-23 09:31] HimanshuBri commented on #357
@roman-boltunov  Yes its working fine now.
<pre>
<code>
C:\June\23June\2.45pm\azure-xplat-cli-dev-asm-network>node bin/azure network local-network delete CliTestlocNet7759 -q
info:    Executing command network local-network delete
+ Getting network configuration
error:   Cannot delete local network "CliTestlocNet7759" because it is associated with the virtual network "CliTestVnet18913"
info:    Er

[2015-06-23 09:32] roman-boltunov commented on #357
@HimanshuBri thanks for confirming.

[2015-06-23 09:32] #357 closed

[2015-06-23 09:39] MikhailTryakhov commented on #353
Hi @HimanshuBri, sorry for delay - I have some problems with azure login - it would be fixed tomorrow.
As I can see that is a server-side error.
@anuchandy, please approve it - I assume there is a register error in these examples - but server returns wrong error message. I'll wait for your comments before adding 'external' tag.
Please let me know your thoughts.

[2015-06-23 10:48] roman-boltunov commented on #311
@anuchandy unfortunately I have no contacts of server team, could you please report it or provide contacts?

[2015-06-23 11:47] MikhailTryakhov commented on #328
thanks @HimanshuBri  I'm working on it

[2015-06-23 14:31] sreekanthbs opened #368 "ARM: VM create with image urn MicrosoftWindowsServer:WindowsServer:2008-R2-SP1:2.0.201502 is failing"
ARM VM create with image URN MicrosoftWindowsServer:WindowsServer:2008-R2-SP1:2.0.201502 is giving error <b>The subscription is not authorized.</b>

<pre>
<code>
C:\Jun2015\22-Jun\azure-xplat-cli-sprint-50>node bin/azure vm create xplatTestGExtension xplatvmExt eastus Windows -f xplatnicExt -Q MicrosoftWindowsServer:Wind
owsServer:2008-R2-SP1:2.0.201502 -u azureuser -p Brillio@2015 -o xplatstorage

[2015-06-23 19:14] anuchandy commented on #368
@sreekanthbs could you share the subscription details over email?

[2015-06-24 01:41] babumuralidharan commented on #368
@anuchandy this is the test subscription that we use

[2015-06-24 13:40] HimanshuBri opened #372 "ASM :vm create giving error --ssh required when --ssh-cert or --ssh-password is specified"
Asm vm create giving error --ssh required when --ssh-cert or --ssh-password is specified although nothing is specified  related to ssh.
<pre>
<code><b>With Windows Image</b>
C:\June\24june\azure-xplat-cli-dev>node bin/azure vm create DummyVm fb83b3509582419d99629ce476bcb5c8__SQL-Server-2014-RTM-12.0.2361.0-OLTP-ENU-Win2012R2-cy14su08 azur
euser Super@123
info:    Executing command vm create
warn:

[2015-06-25 14:07] HimanshuBri opened #375 "Arm:network vnet create with option --dns-servers is coming under address prefix only"
Arm network vnet create with option --dns-servers is coming under address prefix only.
 label should be relevant to  DNS servers IP addresses.
![vnet create_set problem in dns](https://cloud.githubusercontent.com/assets/10084788/8356133/0f99fdcc-1b71-11e5-9a58-123eb8eae5c4.PNG)

[2015-06-26 07:45] MikhailTryakhov commented on #328
Hi @HimanshuBri,
this error shows that the specified certificate was not found. Please check was the address correct

[2015-06-26 07:50] HimanshuBri commented on #328
@MikhailTryakhov. Verified once again path is correct but still getting the same error.

[2015-06-26 09:09] romangromov opened #377 "ARM: move promptRecordParameters function to DnsRecordSet"
Please place`promptRecordParameters` function from `network._js (line 1739)` inside `DnsRecordSet._js`
Also, there are JSHint issues inside `promptRecordParameters` - please fix as well.
Do not forget to run `ARM-relates` unit tests to make sure all is fine.

[2015-06-26 10:01] roman-boltunov commented on #375
@HimanshuBri it's fixed now. Could you please make sure everything works as expected?

[2015-06-26 12:06] HimanshuBri opened #380 "ASM: 'network vnet subnet create' showing error even after creating the subnet"
Please find the attached screenshots.
![image](https://cloud.githubusercontent.com/assets/10084788/8376889/b4a81872-1c29-11e5-9552-8984a8828cfe.png)
![image](https://cloud.githubusercontent.com/assets/10084788/8376908/d22e7b8e-1c29-11e5-96eb-9b2f386456f2.png)

[2015-06-26 12:18] romangromov commented on #380
@HimanshuBri thank you, please try again - should be fixed from my side

[2015-06-26 12:42] roman-boltunov commented on #377
@romangromov fixed, could you please confirm that everything works good?

[2015-06-26 12:45] romangromov commented on #377
@roman-boltunov everything seems nice, thank you

[2015-06-26 12:45] #377 closed

[2015-06-26 13:02] sreekanthbs commented on #375
@roman-boltunov  Issue still exist
<pre>
<code>
C:\June\26june\azure-xplat-cli-dev-asm-network>azure network vnet create armresgrp26j vnet29 eastus -a 10.0.0.0/24,10.0.1.0/24 <b>-d 10.0.0.0</b>
info:    Executing command network vnet create
+ Looking up virtual network "vnet29"
+ Creating virtual network "vnet29"
+ Loading virtual network state
data:    Id                              : /subscript

[2015-06-26 13:07] roman-boltunov commented on #375
@sreekanthbs could you please sync once more with dev-asm-network branch and retry?

[2015-06-26 14:04] sreekanthbs commented on #372
The issue is in https://github.com/MSOpenTech/azure-xplat-cli/tree/dev branch

[2015-06-26 14:05] roman-boltunov commented on #372
@sreekanthbs we are not working in dev branch for now, all changes comes to dev-asm-network, please test this issue under this branch.

[2015-06-29 07:38] HimanshuBri commented on #380
@romangromov. Even when Nsg is not found it is creating the subnet although it is giving error.
Please check the attached screenshot.
![image](https://cloud.githubusercontent.com/assets/10084788/8403205/f1bd14b4-1e5f-11e5-926e-5e8609ea8689.png)

[2015-06-29 08:05] romangromov commented on #317
@HimanshuBri hi again, could you please check this issue and close if all is ok? Thank you in advance!

[2015-06-29 08:10] HimanshuBri commented on #317
@romangromov. Hi, i don't think if we can close, as if you through above comments of @anuchandy, this has been reported to server team.

[2015-06-29 09:08] romangromov opened #386 "ARM: TrafficManager, Subnet: need to follow "self" convention"
Refactoring proposal: we need to use `var self = this;` convention inside specialized classes methods to keep code clean and avoid confusing with `this` key word. I’ve apply this change to `PublicIP` and `NIC` in ARM, please take a look for details. Also,  `vnetUtil` isstance should be moved to constructor and reused with in `self.vnetUtil` way, please see `NIC` constructor for details.

To make s

[2015-06-29 09:38] MikhailTryakhov commented on #380
Hi @HimanshuBri  thank you for you comments!
Please review code changes - this issue should be fixed now

[2015-06-29 09:45] HimanshuBri commented on #380
@MikhailTryakhov. I guess you have not merged the changes in dev-asm-network branch. Could you please confirm.

[2015-06-29 10:06] sreekanthbs opened #388 "ARM: VM Quick create trying to create NIC at first and fails, it is generating bad recordings"
vm quick create trying to create "xplat-westu-1435570102104-nic" first and fails, after creation of vnet,pip and subnet, Nic creation is passed.
So it is generating -vv output, firstly it is failing to create xplat-westu-1435570102104-nic and failing the test cases when trying to run from the mocks.
Attached the -vv output

<pre>
<code>
node bin/azure vm quick-create xplatTestGVMQuick1 xplatvmquic

[2015-06-29 10:08] sreekanthbs commented on #388
Getting below error when trying to run from the recordings
<pre>
<code>
C:\Jun2015\29-Jun\azure-xplat-cli-dev-asm-network>node scripts/unit.js testlistarm2.txt
child_process: customFds option is deprecated, use stdio instead.

  1) arm compute vm Quick create should create a VM
  . arm compute vm list should list quick created VM: NaNms

  1 passing (20s)
  1 failing

  1) arm compute vm Quick cre

[2015-06-29 10:45] MikhailTryakhov commented on #380
@HimanshuBri I'm terribly sorry, the updates were not merged magically.
Please review updates now

[2015-06-29 10:55] HimanshuBri commented on #380
Thanks @MikhailTryakhov. Working as expected now. Closing the issue.

[2015-06-29 10:55] #380 closed

[2015-06-29 12:32] sreekanthbs commented on #375
@roman-boltunov i guess  issue is  still there i  verified on latest dev-asm-network branch but able to repro the issue.
<pre>
<code>
C:\June\29eve\azure-xplat-cli-dev-asm-network>azure network vnet create armresgrp29j vnet29 eastus -a 10.0.0.0/24,10.0.1.0/24 -d 10.0.0.0
info:    Executing command network vnet create
+ Looking up virtual network "vnet29"
+ Creating virtual network "vnet29"
+ Loadi

[2015-06-30 13:47] babumuralidharan commented on #388
@anuchandy do we need to change the order of execution here ?

[2015-07-01 09:11] MikhailTryakhov commented on #353
Hi @HimanshuBri I've resolved this issue.
please review the latest code changes

[2015-07-01 09:31] HimanshuBri commented on #353
Please check the attached screenshot.
![a](https://cloud.githubusercontent.com/assets/10084788/8451602/14a273ae-2002-11e5-82d6-3fb9069980a1.png)

[2015-07-01 12:30] MikhailTryakhov commented on #353
@HimanshuBri  please review the latest commit - it contains fixes for this bug and one error message

[2015-07-01 13:15] HimanshuBri commented on #353
@MikhailTryakhov Please look into this error
<pre>
<code>
C:\June\1july\azure-xplat-cli-dev-asm-network>node bin/azure network traffic-manager profile endpoint create Testtm testtmpEp CloudService
info:    Executing command network traffic-manager profile endpoint create
+ Looking up the Traffic Manager profile "Testtm"
+ Looking up the Traffic Manager definition "Testtm"
+ Creating endpoint testt

[2015-07-01 21:41] anuchandy commented on #388
@babumuralidharan here the issue is:

The quick create command is suppose to create all resources (that is the requirement). It will not use any existing resources.

Now when we run in mock mode, commands create request for resources but note that since command is not suppose to use existing resource, it generates new random name for the resource, that will not match with one generated during reco

[2015-07-01 22:31] babumuralidharan commented on #388
Yes @anuchandy . This makes sense. We cannot assert on a randomized string. We will remove this.

[2015-07-01 22:31] #388 closed

[2015-07-02 07:11] HimanshuBri commented on #372
Its working fine now.Hence closing the issue.

[2015-07-02 07:11] #372 closed

[2015-07-02 07:12] #386 closed

[2015-07-02 07:45] MikhailTryakhov commented on #353
Hi @HimanshuBri
the problem is that you have entered domain name as 'testtmpEp', not 'testtmpEp.trafficmanager.net'.
That's why this error message shows correctly. I'll communicate with @anuchandy  today and ask, should we change current error message to do it more clear.

[2015-07-02 10:54] MikhailTryakhov commented on #353
@HimanshuBri thank you for log.
This is the same error as in https://github.com/MSOpenTech/azure-xplat-cli/issues/336
I'll communicate about it with @anuchandy on the meeting today

[2015-07-03 10:29] sreekanthbs commented on #353
@MikhailTryakhov  i m able to create traffic-manger endpoint for type - Traffic-Manger.
But for type - CloudService getting error.Please find the error below
<pre>
<code>
C:\July\2july\azure-xplat-cli-dev-asm-network>node bin/azure network traffic-manager profile show cliTestTmP3j
info:    Executing command network traffic-manager profile show
+ Looking up the Traffic Manager profile "cliTestTmP3j

[2015-07-03 10:43] mraber opened #400 "ASM: 'vm endpoint create-multiple' : no longer handles default values (since v0.9.5)"
Before version 0.9.5, I was able to create multiple endpoints at once with a parameter like '80:8080,443:8443'.
Now, I have to specify all 11 values to create a basic endpoint.

Example:

[code]

[2015-07-06 16:19] anuchandy commented on #400
@mraber there is a change in the way we need to specify the multiple endpoints in the latest  version. If you are not specifying the optional attributes such as protocol, idle-timeout, you have to specify empty string for the same, for example instead of 80:8080 it needs to be 80:8080:::::::::

[2015-07-06 16:46] anuchandy commented on #353
@sreekanthbs

Please see point 1 below, in order to make cloud service endpoint working there needs to be an existing cloud service.

The endpoints are the services to which Traffic Manager is directing traffic. There are 4 endpoints types:
1. CloudService. This is what you chose. In this case, the must be of the form ‘foobar.cloudapp.net’ and the service ‘foobar.cloudapp.net’ must exist in the sa

[2015-07-08 08:06] sreekanthbs commented on #353
@anuchandy yes its working fine now for CloudService type. Thanks .
<pre>
<code>
C:\July\2july\azure-xplat-cli-dev-asm-network>node bin/azure network traffic-manager profile endpoint create Testtm xplatttesttservicee.cloudapp.net CloudService -u E
nabled -e 3
info:    Executing command network traffic-manager profile endpoint create
+ Looking up the Traffic Manager profile "Testtm"
+ Looking up th

[2015-07-08 10:01] mraber commented on #400
Thanks for the answer. See Azure/azure-xplat-cli#1899 for my comment.

[2015-07-13 14:12] KiranBrillio opened #422 "ASM: vm docker create command throwing error in Linux environment"
VM docker create command in <b>Linux</b> environment giving error : Networking.DeploymentVNetAddressAllocationFailure
<pre>
<code>
node bin/azure vm docker create clitestvm5395 03f55de797f546a1b29d1b8d66be687a__CoreCLR-x64-Beta5-Linux-PartsUnlimited-Demo-App-201504.29 azureuser Pa$$word@123 -a affinity1 --static-ip 10.4.0.16 --virtual-network-name mynetwork -vv

silly:   requestOptions
silly:   {

[2015-07-13 14:16] KiranBrillio commented on #422
Closing the issue

[2015-07-13 14:16] #422 closed

[2015-07-13 14:18] sreekanthbs opened #423 "ASM: vm docker create command throwing error in Linux environment"
VM docker create command in <b>Linux</b> environment giving error : Networking.DeploymentVNetAddressAllocationFailure
<pre>
<code>
node bin/azure vm docker create clitestvm5395 03f55de797f546a1b29d1b8d66be687a__CoreCLR-x64-Beta5-Linux-PartsUnlimited-Demo-App-201504.29 azureuser Pa$$word@123 -a affinity1 --static-ip 10.4.0.16 --virtual-network-name mynetwork -vv

silly:   requestOptions
silly:   {

[2015-07-14 07:21] sreekanthbs commented on #368
ARM VM create with imageUrn MicrosoftWindowsServer:WindowsServer:
2012-Datacenter:3.0.201503 is also failing
<pre>
<code>
C:\Jul2015\Jul-14\azure-xplat-cli-dev>node bin/azure vm create xplatgroup xplatvmExt6 eastus Windows -f xplatnicExt8758 -Q MicrosoftWindowsServer:WindowsServer:
2012-Datacenter:3.0.201503 -u azureuser -p Brillio@2015 -o xplatstoragext9259 -R xplatstoragecntext8332 -F xplatvnetE

[2015-07-14 11:06] MikhailTryakhov commented on #375
Hi @sreekanthbs  unfortunately can't repro this issue - in this case throws error. Please review screenshot below
![vnet no error](https://cloud.githubusercontent.com/assets/3079588/8671891/8ac7fec6-2a31-11e5-903c-c04ae3047d59.png)

[2015-07-14 11:08] MikhailTryakhov commented on #353
Hi @sreekanthbs
could you please clarify, should we close this issue?

[2015-07-14 12:30] sreekanthbs commented on #375
@MikhailTryakhov You are running in ASM mode, the issue is for ARM

[2015-07-14 12:35] sreekanthbs commented on #353
@MikhailTryakhov Yes we can close this issue

[2015-07-14 13:16] sreekanthbs opened #429 "ASM : vm endpoint acl-rule create not working"
<pre>
<code>
C:\July\14july\azure-xplat-cli-dev>node bin/azure vm endpoint acl-rule create dndlinuxxlat EndPt1 3 permit 23.99.18.228/31
info:    Executing command vm endpoint acl-rule create
+ Getting virtual machines
+ Reading network configuration
+ Updating network configuration
error:   Existing endpoints in LB set 'lbSet14' do not contain ACL.
info:    Error information has been recorded to C

[2015-07-14 14:14] MikhailTryakhov commented on #375
Thank you @sreekanthbs, I was confused a bit of previous logs name (zure-xplat-cli-dev-asm-network). Thank you, can we close it?

[2015-07-14 14:15] #353 closed

[2015-07-15 07:33] sreekanthbs opened #430 "Arm: network vnet subnet create giving error for optional parameter for route-table-name"
In arm- network vnet subnet create giving error for optional param for route-table-name
This issue is for https://github.com/MSOpenTech/azure-xplat-cli/tree/dev-arm-routes branch
![image](https://cloud.githubusercontent.com/assets/11171941/8693043/7d00d93c-2af1-11e5-8d61-29daedb4cfe2.png)![image](https://cloud.githubusercontent.com/assets/11171941/8693064/a36bbace-2af1-11e5-875b-d2f9316f1d92.png)

[2015-07-15 07:45] sreekanthbs commented on #375
@MikhailTryakhov we can close this

[2015-07-15 07:46] #375 closed

[2015-07-15 07:49] MikhailTryakhov commented on #375
Thank you @sreekanthbs
Could you please add me in skype (nickname is 'Perseptron_') - my account is still blocked in skype for business (Lync) and I can't communicate there.

[2015-07-15 09:54] sreekanthbs commented on #430
Looks like we missed to give node bin/azure to run the command.That's why its giving this error.
Hence closing the issue

[2015-07-15 09:54] #430 closed

[2015-07-16 14:17] sreekanthbs opened #432 "ARM: Dogfood 'environment add' issue"
ARM Dogfood 'environment add' for arm-arm-routes and dev-arm-idns repos has an issue while doing recordings for the ARM test cases.
Please refer below error screen shots, when we run mock recordings for the commands.
![recordings_error](https://cloud.githubusercontent.com/assets/11171941/8725535/58db013e-2bf2-11e5-956a-7a0d269b911d.png)

Though the commands working fine but for the recording files

[2015-07-17 11:03] sreekanthbs opened #433 "ARM: network route-table route create not working for next-hop-type - VirtualNetworkGateway & Null"
<pre>
<code>
C:\July\16july\azure-xplat-cli-dev-arm-routes>node bin/azure network route-table route create armresgrp24j route24j route11 10.0.0.0/23 VirtualNetworkGateway
info:    Executing command network route-table route create
+ Looking up route "route11" in route table "route24j"
+ Creating route "route11" in a route table "route24j"
error:   VirtualNetworkGateway as NextHoptype is currently

[2015-07-17 11:29] sreekanthbs opened #434 "ARM: network route-table create not showing error while creating a route-table with the existing route-table name"
![image](https://cloud.githubusercontent.com/assets/11171941/8746263/2e4645e2-2ca5-11e5-8655-d83360a56410.png)

[2015-07-17 13:59] sreekanthbs opened #435 "ARM: network route-table create command fails to create Route table other than Dogfood environment"
Giving below error
![route-table-issue](https://cloud.githubusercontent.com/assets/11171941/8748683/da8376fe-2cb9-11e5-9f3a-1562971073dd.PNG)

[2015-07-17 22:17] DeepakRajendranMsft commented on #433
VirtualNetworkGateway as NextHoptype is currently not supported on a Route
 is an expected error. We do not support this presently

node bin/azure network route-table route create armresgrp24j route24j route11 10.0.0.0/23 Null
 Instead of "Null", please try "None"

[2015-07-17 22:19] DeepakRajendranMsft commented on #435
Please send me your subscriptionId, we need to enable the routetable feature for your subscription. also, what location are you hitting?

[2015-07-17 22:22] DeepakRajendranMsft commented on #434
Create essentially does a PUT on the RouteTable. so from the service side this is a valid scenario. We dont support PATCH and even updates have to happen only via a PUT.

However, the second create must be blocked on the client, since it is already present. (so you have to do GET to check if the resource is present before doing a PUT)

[2015-07-17 22:25] DeepakRajendranMsft commented on #432
for endpoint issues, please contact Anu or the xplat SDK team.

RouteTable is now in production. Please send us your production subsciption id and we can enable it.

[2015-07-17 22:35] babumuralidharan commented on #432
@sreekanthbs lets check this in production and update the comment here..

[2015-07-17 22:37] babumuralidharan commented on #429
@sreekanthbs were you able to repro this after trying out azure --gen ? I feel this is a cache issue but good to check though

[2015-07-20 06:26] sreekanthbs commented on #429
@babumuralidharan yes its looks like a cache issue only.
Its working fine after running azure --gen. Hence closing the issue.Thanks

[2015-07-20 06:26] #429 closed

[2015-07-20 07:22] sreekanthbs commented on #433
@DeepakRajendranMsft tried with "None".But still getting the error.
Please have a look at the error
<pre>
<code>
C:\July\21july\azure-xplat-cli-dev-arm-routes>node bin/azure network route-table route create armresgrp24j route24j route11 10.0.0.0/23 "None"
info:    Executing command network route-table route create
error:   Given next hop type is invalid, supported values are VirtualAppliance, Virt

[2015-07-20 08:34] #336 closed

[2015-07-20 15:25] MikhailTryakhov opened #439 "ASM: network vnet subnet create command shows incorrect message creating association with NSG"
It contains message 'Creating a network security groups with name "%s" (no creation actually occurred). Please review details below:
![subnet nsg messages](https://cloud.githubusercontent.com/assets/3079588/8794663/421db15e-2f8e-11e5-8d2f-32dc68d87de3.png)

@anuchandy  could you please approve me to assign this issue (let know guys on the other side and mark it as external)

[2015-07-22 15:02] sreekanthbs opened #447 "ARM: 'network vnet subnet create ' not working with -r option"
<b>network vnet subnet create</b> command not working in branch https://github.com/MSOpenTech/azure-xplat-cli/tree/dev-arm-routes2
Same command is working fine in https://github.com/MSOpenTech/azure-xplat-cli/tree/dev-arm-routes
branch, can you explain the difference between these two branches

<pre>
<code>
C:\July\npm\azure-xplat-cli-dev-arm-routes2>node bin/azure network vnet subnet create armgr

[2015-07-22 15:03] sreekanthbs commented on #447
Here is the verbose output
<pre>
<code>
C:\July\npm\azure-xplat-cli-dev-arm-routes2>node bin/azure network vnet subnet create armgro22j vnet29 subnet29 -a 10.0.0.0/28 -w /subscriptions/bfb5e0bf-124b-4d0c-93
52-7c0a9f4d9948/resourceGroups/armgro22j/providers/Microsoft.Network/networkSecurityGroups/nsg29 -r routbl -vv
info:    Executing command network vnet subnet create
verbose: Looking up the subn

[2015-07-23 05:11] babumuralidharan commented on #447
@ruslangabitov can you please comment on this ??

[2015-07-23 05:14] babumuralidharan commented on #439
@anuchandy @MikhailTryakhov  I don't think this issue is external. Guess this is something that needs to be fixed in client right ? Could you please tell me why this issue is external?

[2015-07-23 05:14] babumuralidharan commented on #435
@sreekanthbs hope this is working fine in production now.. Can you comment on this ?

[2015-07-23 05:15] babumuralidharan commented on #434
@sreekanthbs is this still existing with the latest code base ?

@MikhailTryakhov could you please take a look at this and let me know your comments ?

[2015-07-23 05:16] babumuralidharan commented on #433
@DeepakRajendranMsft could you please comment on this ?

@sreekanthbs  can you try this in production and let me know the behavior ?

[2015-07-23 05:17] babumuralidharan commented on #432
@sreekanthbs any update on this ??

[2015-07-23 05:20] babumuralidharan commented on #423
@sreekanthbs can you try with latest source and see if you are getting the same behavior? But make sure you are creating cloudservice on an existing vnet and then try this case

@ruslangabitov can you comment on this error ?

[2015-07-23 05:35] anuchandy commented on #423
One reason for this failure might be due to the use of affinity based virtual network. Is this error repro with regional wise virtual network?

The azure portal no longer support creating vnet in affinity groups. -a option needs to removed from the command eventually as affinity group vet is already replaced with regional vnet in general.

[2015-07-23 05:44] anuchandy commented on #447
https://github.com/MSOpenTech/azure-xplat-cli/tree/dev-arm-routes2  uses latest network SDK from npm repository

and  https://github.com/MSOpenTech/azure-xplat-cli/tree/dev-arm-routes uses older version of network SDK which is stored under armsdk folder.

[2015-07-23 06:04] ruslangabitov commented on #447
@babumuralidharan @anuchandy I found the issue, its a merge conflict issue, I'll fix it tomorrow morning.

[2015-07-23 06:41] sreekanthbs commented on #432
@babumuralidharan  It is working in production, so closing the issue.

[2015-07-23 06:41] #432 closed

[2015-07-23 06:43] sreekanthbs commented on #435
@babumuralidharan yes its working fine in production now.Hence closing the issue

[2015-07-23 06:43] #435 closed

[2015-07-23 06:51] sreekanthbs commented on #434
@babumuralidharan yes issue is still there,verified in https://github.com/MSOpenTech/azure-xplat-cli/tree/dev-arm-routes2 branch

![image](https://cloud.githubusercontent.com/assets/11171941/8844658/3f2d35fc-3135-11e5-82f9-2038022a3296.png)

[2015-07-23 07:20] sreekanthbs commented on #433
@babumuralidharan issue is still there in production

![image](https://cloud.githubusercontent.com/assets/11171941/8845092/49df0760-3139-11e5-8966-47fb1625ced7.png)

[2015-07-23 09:28] sreekanthbs commented on #423
I tried with regional vnet with out affinity group in latest code in Linux, but still some times it is giving error. vm docker create with  --static-ip and --virtual-network-name some times giving error <b>Networking.DeploymentVNetAddressAllocationFailure</b>
<pre>
<code>
root@DndLinuxVM:/home/azureuser/azure-xplat-cli-dev# node bin/azure vm docker create clitestvm5392 03f55de797f546a1b29d1b8d66be

[2015-07-23 09:31] sreekanthbs commented on #423
But same vnet and static ip with different vm docker working some times. The issue is not consistent.
<pre>
<code>
root@DndLinuxVM:/home/azureuser/azure-xplat-cli-dev# node bin/azure vm docker create clitestvm5390 03f55de797f546a1b29d1b8d66be687a__CoreCLR-x64-Beta5-Linux-PartsUnlimited-Demo-App-201504.29 azureuser Pa$$word@123 --static-ip 10.4.0.16 --virtual-network-name networknew2
info:    Execu

[2015-07-23 10:57] MikhailTryakhov commented on #439
@babumuralidharan you're right! It's internal - I've fixed it

[2015-07-23 10:57] #439 closed

[2015-07-23 11:42] MikhailTryakhov commented on #434
@sreekanthbs  could you please review latest updates in dev-asm-network branch

[2015-07-23 17:53] ruslangabitov commented on #447
Fixed here: https://github.com/MSOpenTech/azure-xplat-cli/pull/453

[2015-07-23 18:13] ruslangabitov commented on #447
@sreekanthbs Anu described one difference and another one is that <code>dev-arm-routes2</code> is synced with Azure dev branch.
Code in <code>dev-arm-routes</code> was pretty old and outdated, therefore it had a lot of merge conflicts. It is more stable in testing routes feature though.

[2015-07-24 07:03] sreekanthbs commented on #434
@MikhailTryakhov yes now its working fine.Hence closing the issue
![image](https://cloud.githubusercontent.com/assets/11171941/8869210/e3902e50-31fe-11e5-9a4b-169f3dfdd288.png)

[2015-07-24 07:03] #434 closed

[2015-07-24 07:13] sreekanthbs commented on #447
@ruslangabitov  yes its working fine now.Hence closing the issue.
![image](https://cloud.githubusercontent.com/assets/11171941/8869455/7648e3fc-3201-11e5-81c1-576a0293d805.png)

[2015-07-24 07:13] #447 closed

[2015-07-24 09:33] sreekanthbs opened #457 "ARM: network vnet subnet create not working with -o option for network-security-group-name"
![image](https://cloud.githubusercontent.com/assets/11171941/8871727/1b6ca4f0-3215-11e5-971a-74ba53c284ce.png)

[2015-07-24 09:45] sreekanthbs commented on #457
network vnet subnet create is working with -w option i.e network-security-group-id
But giving error with -o option i.e network-security-group-name

![image](https://cloud.githubusercontent.com/assets/11171941/8871938/bdaf3d4e-3216-11e5-9467-db88767e4c78.png)

[2015-07-24 09:47] sreekanthbs commented on #457
Same issue with network vnet subnet set
![image](https://cloud.githubusercontent.com/assets/11171941/8871976/0328ec26-3217-11e5-9778-cb66c7aa7e9e.png)

[2015-07-24 09:55] sreekanthbs opened #458 "ARM: network vnet subnet set not working for -r option"
I created a subnet using -r routetbl1
![image](https://cloud.githubusercontent.com/assets/11171941/8872112/f5c2ceac-3217-11e5-97cd-b70f23f69b82.png)Trying to set using -r route-tabl2 -- Getting error
![image](https://cloud.githubusercontent.com/assets/11171941/8872087/cdf3167a-3217-11e5-86d5-43acc587ca96.png)

[2015-07-27 07:38] romangromov commented on #458
Hi @sreekanthbs, please make sure all is fine now

[2015-07-27 07:39] romangromov commented on #457
Hi @sreekanthbs, please make sure all is fine now

[2015-07-27 10:30] sreekanthbs commented on #457
@romangromov  yes its working fine now.Thanks.Closing the issue

![image](https://cloud.githubusercontent.com/assets/11171941/8901217/b8ad793c-3464-11e5-97e5-e420ec7be290.png)

[2015-07-27 10:30] #457 closed

[2015-07-27 10:30] sreekanthbs commented on #458
@romangromov yes its working fine now.Thanks.Closing the issue
![image](https://cloud.githubusercontent.com/assets/11171941/8901227/df25cb00-3464-11e5-8b51-2bc5288f5487.png)

[2015-07-27 10:30] #458 closed

[2015-07-27 10:56] romangromov commented on #433
@sreekanthbs could you please confirm its `external` and no action required from our side?

[2015-07-27 14:12] babumuralidharan commented on #433
@DeepakRajendranMsft does server side support this hoptype ? Do we need to handle anything in the client side for this issue ??

[2015-07-29 12:13] sreekanthbs opened #464 "ARM:network nic address-pool add not working with -a option"
Its working with address-pool id but not with address-pool name param
![image](https://cloud.githubusercontent.com/assets/11171941/8957056/35ef44e2-3619-11e5-83d4-e9705b5d24a9.png)

[2015-07-29 12:15] sreekanthbs opened #465 "ARM:network nic inbound-nat-rule add not working with -r option"
Its working with inbound-nat-rule id option but not with inbound-nat-rule name param
![image](https://cloud.githubusercontent.com/assets/11171941/8957100/9cf77df8-3619-11e5-87a9-2aadc25cd5f7.png)

[2015-07-30 19:02] ruslangabitov commented on #138
@HimanshuBri can you please point me to a repo with this command?
I was not able to find 'vm disk update-by-name' in MSOpenTech/dev https://github.com/MSOpenTech/azure-xplat-cli/blob/dev/lib/commands/asm/vm._js#L527

[2015-07-30 19:25] ruslangabitov commented on #342
@sreekanthbs I was not able to reproduce this bug on the latest build, there were some changes to the   vmclient recently. Can you please verify it using latest code from dev branch?

[2015-07-31 14:13] sreekanthbs commented on #342
@ruslangabitov With the latest build the error is not coming. It is working fine, so closing the issue.
<pre>
<code>
C:\Jul2015\Jul-29\azure-xplat-cli-dev>node bin/azure vm create TestVMDelete VMImage -g azureuser -p Brillio@2015 -t C:\Users\sreekanth.bandaru\.ssh\github_rsa.p
ub -e 22 -l "West US"
info:    Executing command vm create
warn:    --vm-size has not been specified. Defaulting to "Small

[2015-07-31 14:13] #342 closed

[2015-08-07 10:35] sreekanthbs commented on #138
@ruslangabitov yes I am also not able to find 'vm disk update-by-name' in MSOpenTech/dev.
I guess the command has been removed.
![image](https://cloud.githubusercontent.com/assets/11171941/9133996/d3ffdbfa-3d1d-11e5-83aa-8e76287aaca0.png).

[2015-08-10 17:32] ruslangabitov commented on #354
Fixed here: https://github.com/MSOpenTech/azure-xplat-cli/pull/469, please verify.

[2015-08-11 09:48] sreekanthbs opened #473 "ARM:network vpn-gateway delete not working"
![armvpndelete1](https://cloud.githubusercontent.com/assets/11171941/9194898/43bf03e6-403c-11e5-80c1-64e6af535525.PNG)

[2015-08-11 09:51] sreekanthbs commented on #473
Here is the verbose output
C:\Aug\10Aug\azure-xplat-cli-dev-arm-vpn-gateways>node bin/azure network vpn-gateway delete armresgrpVPN vpn1 -q -vv
info:    Executing command network vpn-gateway delete
verbose: Looking up virtual network gateway "vpn1"
silly:   requestOptions
silly:   {
silly:       rawResponse: false,
silly:       queryString: {},
silly:       method: 'GET',
silly:       headers: { C

[2015-08-11 10:25] romangromov commented on #473
@sreekanthbs thanks, this should be fixed now, use `dev-arm-vpn-gateways` branch of cource

[2015-08-11 12:30] sreekanthbs commented on #473
@romangromov  yes its working fine now.Thanks.
Hence closing the issue.

[2015-08-11 12:30] #473 closed

[2015-08-11 12:36] romangromov commented on #465
@sreekanthbs thanks, this shold be fixed now, please use `dev-arm-nic-fixes` branch

[2015-08-11 12:36] romangromov commented on #464
@sreekanthbs thanks, this shold be fixed now, please use `dev-arm-nic-fixes` branch

[2015-08-11 12:39] romangromov commented on #433
Hi @DeepakRajendranMsft, can you please take a look this thread over? Thank you in advance

[2015-08-11 13:29] sreekanthbs opened #476 "ASM network vnet delete not working when we create vpn-gateway using this vnet"
Please find the steps I followed below.
1. Created a vnet
2. created a subnet name GatewaySubnet
3. created a local-network
4. Add local-network to vnet
5. create vpn-gateway for the vnet with type DynamicRouting
6. delete vpn-gateway
7. remove local-network associated with the vnet
8. delete vnet -- is giving error vnet not found.

![image](https://cloud.githubusercontent.com/assets/11171941/9198

[2015-08-11 13:36] sreekanthbs commented on #464
@romangromov  yes its working fine now.Thanks.Closing the issue
<pre>
<code>
C:\Aug\11Aug\azure-xplat-cli-dev-arm-nic-fixes>node bin/azure  network nic address-pool add armresgrp11a nic29 -l lb29 -a lbadd29
info:    Executing command network nic address-pool add
+ Looking up the network interface "nic29"
+ Looking up the load balancer "lb29"
+ Updating network interface "nic29"
info:    network ni

[2015-08-11 13:36] #464 closed

[2015-08-11 13:40] sreekanthbs commented on #465
@romangromov yes its working fine now.Thanks.Closing the issue
<pre>
<code>
C:\Aug\11Aug\azure-xplat-cli-dev-arm-nic-fixes>node bin/azure  network nic inbound-nat-rule add armresgrp11a nic29 -l lb29 -r lbinbound29
info:    Executing command network nic inbound-nat-rule add
+ Looking up the network interface "nic29"
+ Looking up the load balancer "lb29"
+ Updating network interface "nic29"
info:

[2015-08-11 13:40] #465 closed

[2015-08-12 10:09] sreekanthbs commented on #354
@ruslangabitov yes its working fine now
![image](https://cloud.githubusercontent.com/assets/11171941/9221480/45411016-4108-11e5-89ed-b68ae4a9cb21.png)

[2015-08-12 10:50] sreekanthbs opened #478 "ARM: network vpn-gateway add ip-config is not yet supported"
![image](https://cloud.githubusercontent.com/assets/11171941/9222267/f5ed40d8-410d-11e5-8140-c521b676e0c5.png)

[2015-08-12 12:43] romangromov commented on #478
@sreekanthbs I'm waiting feedback about multiple VIPs for vpn-gateway, but looks like it's not supported by server, will post update on this thread

[2015-08-12 13:37] babumuralidharan commented on #354
LGTM...

[2015-08-12 13:37] #354 closed

[2015-08-12 19:39] DeepakRajendranMsft commented on #433
Sorry for my late reply. we just update Prod, None should be working now. Could you please give it a quick try again?

[2015-08-12 22:01] ruslangabitov commented on #368
@sreekanthbs looks like these images are not available in your subscription. I had the same error with specified images, but then I ran 'vm image list' commands for both of them:
<code>MicrosoftWindowsServer:WindowsServer:2012-Datacenter:3.0.201503</code>
![image](https://cloud.githubusercontent.com/assets/6327511/9237871/babf5cea-4102-11e5-8759-733bb4167ff0.png)
<code>MicrosoftWindowsServer:Windo

[2015-08-12 22:06] #138 closed

[2015-08-13 06:05] sreekanthbs opened #480 "ASM: cannot able to run more than 1 network command at a time"
ASM network commands fails when we try to create more than one network commands at same time

![image](https://cloud.githubusercontent.com/assets/11171941/9243514/228f8758-41af-11e5-9017-652229d6d578.png)
At a time only one command will pass, other will fail with error <b> An update to your network configuration is currently underway. Please try this operation again later.</b>
![image](https://clo

[2015-08-13 06:32] sreekanthbs commented on #433
@DeepakRajendranMsft yes VirtualNetworkGateway is working fine now.
But None is still giving error.

![image](https://cloud.githubusercontent.com/assets/11171941/9243850/0998b77a-41b3-11e5-8124-35fca3ec9cf2.png)

[2015-08-13 08:15] romangromov commented on #433
Thank you @DeepakRajendranMsft.
Hi @sreekanthbs, this should be fixed on our side, please verify fix in `arm-route-table-fixes` branch.
Also please make a smoke testing for `route-table route create` command for all of `nextHop` types - I'm going to send PR to upstream with fix, thank you in advance

[2015-08-13 09:04] romangromov commented on #480
Hi @anuchandy, looks like this is an expected behavior, could you please confirm?

[2015-08-13 10:14] sreekanthbs commented on #433
@romangromov @DeepakRajendranMsft  yes its working fine in the specified branch.
I verified with all the nextHop type working fine now.
Closing the issue.Thanks

<pre>
<code>
C:\Aug\13Aug\azure-xplat-cli-arm-route-table-fixes>node bin/azure network route-table route create armresgrp13a routeTbl1 route1 10.0.0.0/23 VirtualNetworkGateway
info:    Executing command network route-table route create
+

[2015-08-13 10:14] #433 closed

[2015-08-13 13:36] sreekanthbs opened #482 "ASM: network application-gateway create is timedout every time"
ASM network application-gateway create command is timedout everytime.

![image](https://cloud.githubusercontent.com/assets/11171941/9250922/0b735b78-41ee-11e5-8c1d-42c42812b6e1.png)

The app gateway is showing as 'creating' state in the list
![image](https://cloud.githubusercontent.com/assets/11171941/9250983/5c035642-41ee-11e5-9f0b-3c1eeceb0948.png)

[2015-08-13 23:27] 8bitbrad commented on #429
I am seeing this same error in the version of the cli:

brad-dev:azure-experiments bradleywhite$ azure config list
info:    Getting config settings
data:    Setting  Value
data:    -------  -----
data:    mode     asm
brad-dev:azure-experiments bradleywhite$ azure --version
0.9.7 (node: 0.10.23)
brad-dev:azure-experiments bradleywhite$ azure vm endpoint acl-rule create lss-hmf01-jump01 ssh --actio

[2015-08-14 07:27] sreekanthbs commented on #429
@8bitbrad hi i am not able to repro this issue now.

<pre>
<code>
C:\Aug\14Aug\azure-xplat-cli-dev>node bin/azure vm endpoint acl-rule create cliVM14a endpt1 3 permit 23.99.18.228/31
info:    Executing command vm endpoint acl-rule create
+ Getting virtual machines
+ Reading network configuration
+ Updating network configuration
info:    vm endpoint acl-rule create command OK

C:\>azure vm endpoint

[2015-08-14 12:20] sreekanthbs commented on #368
@ruslangabitov yes those images are no longer available.I tried with the latest available urn & its working fine now.Closing the issues.Thanks
<pre>
<code>
C:\Aug\14Aug\azure-xplat-cli-dev>node bin/azure vm create xplatgroup xplatvmExt6 eastus Windows -f xplatnicExt8758 -Q MicrosoftWindowsServer:WindowsServer:2012-Datace
nter:3.0.201505 -u azureuser -p Brillio@2015 -o xplatstoragext9259 -R xplatst

[2015-08-14 12:20] #368 closed

[2015-08-17 11:07] romangromov opened #484 "ARM: `route-table show` not output required fields"
From Deepak Rajendran <derajen@exchange.microsoft.com>:

`I was trying out the route table cmdlets in xplat cli and saw some very issues.
The issues are mostly around show. We don’t seem to have updated the output for quite a while now. The new properties (rather the properties that were added after the first release) aren’t present. Could you please take a look at all resource properties and ensu

[2015-08-17 12:22] romangromov commented on #484
Hi @sreekanthbs, please make sure we are good with all changes requested by @DeepakRajendranMsft, use `arm-route-table-fixes` branch.

Since we are good I will send PR to upstream, thanks

[2015-08-18 13:04] sreekanthbs commented on #484
@romangromov
1.The error is missing the next hoptype value
I am still getting this error
![image](https://cloud.githubusercontent.com/assets/11171941/9330332/4ec9021a-45d6-11e5-9bf0-548a6d35f7fc.png)
2.I don’t get prompted when for next hop IPaddress when then next hop type is virualAppliance (“v” is in small case). We should be case – insensitive here
Yes its fixed & working fine
![image](https:/

[2015-08-18 13:17] romangromov commented on #484
@sreekanthbs as for **1**: this is because you are provided an empty string for `Next hop ip address`. We do not validate and empty string case everywhere, so this is by design.

If we need to throw some error for an empty case here please let me know - will add such a validation for `ip address`

[2015-08-18 17:29] ruslangabitov commented on #400
Closing this as duplicate of https://github.com/Azure/azure-xplat-cli/issues/1899, since all the discussion is going there.

[2015-08-18 17:29] #400 closed

[2015-08-18 17:30] #224 closed

[2015-08-18 19:12] babumuralidharan commented on #484
@sreekanthbs I guess the current way of showing the error and eventually failing the command makes sense confining with the current design.
@romangromov, we should be good here. But we need to show the nexthoptype value that user typed in here..

For e.g:  In the error message we miss to print the value of NextHopType given in the command by the user
NextHopIpAddress cannot be Null or Empty in rou

[2015-08-18 19:15] romangromov commented on #484
@babumuralidharan ok, will fix

[2015-08-18 20:47] romangromov commented on #484
@sreekanthbs now fixed error message, please verify and let me know, thank you

[2015-08-19 10:59] romangromov commented on #482
@sreekanthbs should be fixed now, please checkout `asm-network-fixes` branch

[2015-08-19 11:00] romangromov commented on #261
@sreekanthbs should be fixed now, please checkout `asm-network-fixes` branch

[2015-08-19 11:00] romangromov commented on #260
@sreekanthbs should be fixed now, please checkout `asm-network-fixes` branch

[2015-08-19 11:31] sreekanthbs opened #486 "ARM:network gateway vnet delete not working"
![image](https://cloud.githubusercontent.com/assets/11171941/9355137/d60921ca-4693-11e5-8137-9f7796ec83f9.png)

[2015-08-19 12:05] romangromov commented on #293
@sreekanthbs this should be fixed now, please use `asm-network-fixes` branch

[2015-08-19 12:06] sreekanthbs commented on #260
@romangromov still not working.
![image](https://cloud.githubusercontent.com/assets/11171941/9355569/04e54736-4698-11e5-9769-8c25ef3c5697.png)

Spelling mistake in help
![image](https://cloud.githubusercontent.com/assets/11171941/9355650/8d0757ee-4698-11e5-994d-348a9d565f4e.png)

[2015-08-19 12:11] sreekanthbs commented on #261
@romangromov It is working fine address-prefixes other than 0.0.0.0/0
![image](https://cloud.githubusercontent.com/assets/11171941/9355747/68ab6510-4699-11e5-9f17-221cbe90437c.png)

[2015-08-19 12:14] sreekanthbs commented on #482
@romangromov  It is working fine now.
![image](https://cloud.githubusercontent.com/assets/11171941/9355798/d0fb2dc6-4699-11e5-99bf-b4e728f32b92.png)

[2015-08-19 12:16] romangromov commented on #260
@sreekanthbs thanks, give it another chance please - should be fixed

[2015-08-19 12:18] romangromov commented on #261
@sreekanthbs yes, thanks, can we close this issue?

[2015-08-19 12:19] romangromov commented on #482
@sreekanthbs nice to hear, thank you, can we close this issue?

[2015-08-19 12:19] sreekanthbs commented on #261
Yes @romangromov , @babumuralidharan please close this is issue

[2015-08-19 12:20] sreekanthbs commented on #482
Closing the issue

[2015-08-19 12:20] #482 closed

[2015-08-19 12:26] romangromov commented on #238
UPD: issue still exist on server side

[2015-08-19 12:26] romangromov commented on #242
UPD: issue still exist on server side

[2015-08-19 12:26] romangromov commented on #243
UPD: issue still exist on server side

[2015-08-19 12:26] romangromov commented on #244
UPD: issue still exist on server side

[2015-08-19 12:26] romangromov commented on #246
UPD: issue still exist on server side

[2015-08-19 12:32] romangromov commented on #319
UPD: issue still exist on server side

[2015-08-19 13:17] sreekanthbs commented on #260
@romangromov It is working fine. spell issue still there.
![image](https://cloud.githubusercontent.com/assets/11171941/9357070/77a7b876-46a2-11e5-88a0-d0f395e1fe6e.png)

[2015-08-19 13:20] romangromov commented on #260
@sreekanthbs oh sorry, my bad. spell issue fixed as well now

[2015-08-19 13:21] romangromov commented on #484
@sreekanthbs

now fixed error message, please verify and let me know, thank you

[2015-08-19 13:38] babumuralidharan commented on #260
LGTM :+1:

[2015-08-19 13:38] #260 closed

[2015-08-19 13:51] sreekanthbs commented on #484
@romangromov yes the error message is showing the nexthoptype value
![image](https://cloud.githubusercontent.com/assets/11171941/9357946/3e57df88-46a7-11e5-9439-841d4199d7ec.png)

[2015-08-19 13:54] romangromov commented on #484
@sreekanthbs thank you, will send PR to upstream.

@babumuralidharan let's keep it open until merged to upstream, will share update

[2015-08-20 07:09] sreekanthbs opened #487 "ARM:network application-gateway create not working for -t && --subnet-name option"
![image](https://cloud.githubusercontent.com/assets/11171941/9377578/ff5fb814-4737-11e5-983f-05cd0a5dcdee.png)
![image](https://cloud.githubusercontent.com/assets/11171941/9377615/61957262-4738-11e5-8d34-78b851a3c03a.png)

[2015-08-20 07:12] MikhailTryakhov commented on #487
Hi @sreekanthbs, this branch is a test branch,
app gateways commands are blocked now. I'll revert test changes in this branch

[2015-08-20 07:13] sreekanthbs opened #488 "ARM:network application-gateway create not working"
![image](https://cloud.githubusercontent.com/assets/11171941/9377672/e668c4e4-4738-11e5-9d8d-2bda51383d04.png)

[2015-08-20 07:37] MikhailTryakhov commented on #488
Sorry @sreekanthbs it was a test commit - it's reverted now.
Could you please close this bug

[2015-08-20 07:37] MikhailTryakhov commented on #487
Sorry @sreekanthbs it was a test commit - it's reverted now.
Could you please close this bug

[2015-08-20 07:39] sreekanthbs commented on #488
Yes sure.Closing the issue

[2015-08-20 07:39] #488 closed

[2015-08-20 07:39] sreekanthbs commented on #487
Yes sure.Closing the issue

[2015-08-20 07:39] #487 closed

[2015-08-20 09:08] romangromov commented on #486
@sreekanthbs well, this issue happens from time to time. Try to remove gateway again, and it will be removed a few minutes later. Anyway, will report this issue to Gateway Team.

[2015-08-20 16:49] romangromov commented on #484
@babumuralidharan merged, hence closing the issue

[2015-08-20 16:49] #484 closed

[2015-08-20 16:58] romangromov commented on #70
It's done, closing the issue

[2015-08-20 16:58] #70 closed

[2015-08-20 17:00] romangromov commented on #116
it's done both in ARM and ASM, closing the issue

[2015-08-20 17:00] #116 closed

[2015-08-21 17:43] romangromov commented on #478
@sreekanthbs update from Networking team:

[code]

hence it's external

[2015-08-21 17:59] romangromov commented on #486
@sreekanthbs update from Network team:

[code]

[2015-08-21 18:00] romangromov commented on #486
@sreekanthbs suggestion from my side: try to use something like `setTimeout` function, this should do the trick here

[2015-08-24 08:48] sreekanthbs opened #489 "ARM:network gateway vnet create some times fail"
Sometime 'network gateway vnet create' fails giving error connect ETIMEDOUT

![image](https://cloud.githubusercontent.com/assets/11171941/9436158/eaea1cf4-4a6a-11e5-9b95-76cdace934b5.png)

[2015-08-24 08:50] romangromov commented on #258
UPD: issue still exist on server side

[2015-08-24 08:51] #261 closed

[2015-08-24 08:51] romangromov commented on #264
UPD: issue still exist on server side

[2015-08-24 08:54] romangromov commented on #277
UPD: issue still exist on server side

[2015-08-24 09:01] romangromov commented on #285
Hi @sreekanthbs, please make sure `Subnet-1` issue (wrong Subnet name issue) is fixed now

[2015-08-24 09:18] romangromov commented on #295
UPD: create is async opertation. so it's expected behavior

[2015-08-24 09:21] romangromov commented on #311
Hi @sreekanthbs, can you please look over this thread and make sure issue exists on not? Thanks in advance

[2015-08-24 09:22] romangromov commented on #317
UPD: issue still exist on server side

[2015-08-24 09:28] romangromov commented on #332
UPD: issue still exist on server side

[2015-08-24 09:35] romangromov commented on #335
UPD: issue still exist on server side, this is a SDK issue

[2015-08-24 11:13] romangromov commented on #489
@sreekanthbs can't repro this, it's working fine for me...
FYI: I've a separate thread with Networking team about issues in VPN gateways. There are several well known issues on their side, that's why API may not be stable. Will keep you posted about news from their side

[2015-08-24 13:18] sreekanthbs commented on #486
@romangromov thanks for the update

[2015-08-24 13:18] sreekanthbs commented on #478
@romangromov  thanks for the update

[2015-08-24 13:20] sreekanthbs commented on #489
@romangromov  even for me it is working fine.but sometime i am getting this error.

[2015-08-25 07:19] sreekanthbs commented on #285
@romangromov  i verified in asm-network-fixes .
The issue is still reproducible
![image](https://cloud.githubusercontent.com/assets/11171941/9460886/a31f336a-4b27-11e5-8015-faba5ca08045.png)

[2015-08-25 07:54] sreekanthbs commented on #293
@romangromov Issue still exist
![image](https://cloud.githubusercontent.com/assets/11171941/9461467/834ac8b0-4b2c-11e5-8726-1cd444d24810.png)

[2015-08-25 07:56] sreekanthbs commented on #311
@romangromov  issue still exist
![image](https://cloud.githubusercontent.com/assets/11171941/9461509/d475ccb2-4b2c-11e5-9462-d2468109f4b1.png)

[2015-08-25 08:15] romangromov commented on #285
@sreekanthbs thank you for update

[2015-08-25 08:16] romangromov commented on #311
@sreekanthbs thank you for update

[2015-08-25 10:10] sreekanthbs commented on #293
@romangromov issue still exist
![image](https://cloud.githubusercontent.com/assets/11171941/9464086/bad723c0-4b3e-11e5-9664-fae3c776a6fe.png)

[2015-08-25 11:07] romangromov commented on #293
@sreekanthbs Thank! please, give another chance for this, fixed now

[2015-08-26 15:37] sreekanthbs opened #492 "ARM:network vnet subnet delete giving error which is used for gateway"
Hi @romangromov network vnet subnet delete giving error which is used for gateway from branch dev-arm-vpn-gateways

![vnet subnet error](https://cloud.githubusercontent.com/assets/11171941/9498217/3b29b90a-4c36-11e5-9f1d-592269fbd148.png)

[2015-08-26 15:54] sreekanthbs commented on #492
The gateway is getting created in failed state.
![gateway_create_state_failed](https://cloud.githubusercontent.com/assets/11171941/9498719/cb703ab4-4c38-11e5-9c6d-e6e38247787b.png)

[2015-08-27 08:24] romangromov commented on #492
@sreekanthbs can you please describe step-by-step how I can repro this issue?
Thanks in advance!

[2015-08-27 10:22] sreekanthbs commented on #492
@romangromov  this error is coming sometime because the gateway which we created using GatewaySubnet is getting created in failed state sometime.
Please have a look at the steps  we following.
<Pre>
<code>1.azure network vnet create grpname vnet1 eastus -a 10.0.0.0/24
2.azure network vnet subnet create grpname vnet1 GatewaySubnet -a 10.0.0.0/28
3.azure network public-ip create grpname publicip1 ea

[2015-09-01 07:29] sreekanthbs commented on #423
Issue still exist with --static-ip and --virtual-network regional wise virtual network.
<pre>
<code>
root@DndLinuxVM:/home/azureuser/azure-xplat-cli-dev# node bin/azure vm docker create clitestvm5392 03f55de797f546a1b29d1b8d66be687a__CoreCLR-x64-Beta5-Linux-PartsUnlimited-Demo-App-201504.29 azureuser Pa$$word@123 --static-ip 10.4.0.16 --virtual-network-name networknew1
info:    Executing command v

[2015-09-01 08:32] sreekanthbs commented on #293
It is working fine now. Can able to add more than one frontend-ip to an application gateway config
<pre>
<code>
root@DndLinuxVM:/home/azureuser/azure-xplat-cli-dev# node bin/azure network application-gateway frontend-ip add appgtwy1s frontendip2                     -i 10.0.2.0
info:    Executing command network application-gateway frontend-ip add
warn:    Using default type: Private
+ Getting conf

[2015-09-01 08:40] romangromov commented on #293
@sreekanthbs thanks, it's merged to upstream, closing issue

[2015-09-01 08:40] #293 closed

[2015-09-01 19:26] ruslangabitov commented on #423
@sreekanthbs this issue is not related to docker command, I was able to reproduce it using <code>vm create</code>.
Reason may be that you static IP is not available, because it may be assigned to another VM.
I ran <code>node bin/azure network vnet static-ip check *vnet* *static_ip*</code> command and found out that static IP that I am trying to use is not available:
![image](https://cloud.githubus

[2015-09-02 07:33] sreekanthbs commented on #423
hi @ruslangabitov thanks for the catch. I verified that static-ip is not available and giving the error. I checked with different static-ip for vm docker create all are working fine. Hence closing the issue.

[2015-09-02 07:33] #423 closed

[2015-09-02 11:04] sreekanthbs commented on #492
Hi @romangromov  any update on the issue?

[2015-09-02 11:14] romangromov commented on #492
@sreekanthbs this should be reported to networking team

[2015-09-04 08:43] romangromov commented on #489
Hi @sreekanthbs, looks like it was fixed, please make sure you are able to create Vnet Gateway stably, thanks

[2015-09-04 08:48] romangromov commented on #486
Hi @sreekanthbs, now `network gateway vnet delete` works in sync way, please make sure it works fine now, thanks

[2015-09-04 08:50] romangromov commented on #492
Hi @sreekanthbs, looks like it was fixed as well, please try to repro and let me know

[2015-09-04 10:46] sreekanthbs opened #497 "ARM:network gateway create not working, giving wrong error message"
![image](https://cloud.githubusercontent.com/assets/11171941/9682002/25501106-5320-11e5-89bb-04507a62e406.png)

[2015-09-04 10:59] sreekanthbs commented on #497
please find below the verbose output for the error
<pre>
</code>
C:\Sept\4sept\azure-xplat-cli-dev-arm-vpn-gateways>node bin/azure network gateway vnet create armresgrp4a gatewayvnet4a "West US" -y RouteBased -u publicip4a  -m vnet
4a -e GatewaySubnet -a 10.0.0.11 -b true -t tag1=val1 -vv
info:    Executing command network gateway vnet create
verbose: Looking up the subnet "GatewaySubnet"
silly:

[2015-09-04 11:15] romangromov commented on #497
@sreekanthbs figure it out: you are using `-u` to provide publicIP name, but shortcut for publicIP name is `-p`, please run `azure network gateway vnet create -h` for details

[2015-09-04 11:24] sreekanthbs commented on #497
@romangromov yes .Got it.Closing the issue.
Thanks for the info.

[2015-09-04 11:24] #497 closed

[2015-09-04 12:01] sreekanthbs commented on #489
@romangromov still this issue exist
![image](https://cloud.githubusercontent.com/assets/11171941/9683118/aa583630-532a-11e5-977d-6d6e06fd998d.png)

[2015-09-04 12:20] sreekanthbs commented on #486
@romangromov issue still exist
![image](https://cloud.githubusercontent.com/assets/11171941/9683394/7330f8ec-532d-11e5-8b3e-17251338db45.png)

[2015-09-04 12:24] sreekanthbs commented on #492
@romangromov issue still exist

[2015-09-04 12:40] romangromov commented on #486
@sreekanthbs not sure why you are getting this behavior, delete works fine for me. Please try to logout and then login
![screenshot_9](https://cloud.githubusercontent.com/assets/1655573/9683715/406cb516-531b-11e5-8ed6-d0d243237dac.png)

[2015-09-07 08:52] sreekanthbs commented on #486
@romangromov The issue is in the provisioning state of the gateway.
If the state is -- Succeeded
Then the delete is working fine.
Please look at the screenshot
![image](https://cloud.githubusercontent.com/assets/11171941/9712768/9956f7b2-556a-11e5-83dd-37da403e33f5.png)

But sometimes the gateway is gets created in failed state.
If  Provisioning state = Failed
Then the gateway delete is not workin

[2015-09-07 08:52] sreekanthbs commented on #489
@romangromov  now gateway is getting created without any error.But sometime the gateway is created with provisioning state as failed.

[2015-09-07 08:54] romangromov commented on #486
@sreekanthbs got it, thank you for verifying, will ping Gateway team about `prov. state=failed` issue

[2015-09-07 08:55] romangromov commented on #489
@sreekanthbs the same here for me, thanks

[2015-09-07 09:00] sreekanthbs commented on #492
@romangromov this issue is because sometimes the gateway is getting created with provisioning state as failed.
![image](https://cloud.githubusercontent.com/assets/11171941/9713053/99bd858e-556c-11e5-9f0b-08007ba23ca0.png)

[2015-09-07 09:03] romangromov commented on #492
@sreekanthbs thanks, I've ping Gateway team about this

[2015-09-15 11:45] sreekanthbs opened #499 "ARM : network application-gateway start not working"
Sometime the 'network application-gateway start' is giving error.Please have a look at screenshot for the error
![image](https://cloud.githubusercontent.com/assets/11171941/9875666/9605306a-5bcd-11e5-91b9-3482aafdc1fb.png)

[2015-09-15 11:46] sreekanthbs commented on #499
![image](https://cloud.githubusercontent.com/assets/11171941/9875659/84505408-5bcd-11e5-8d5d-3b40b7c119d2.png)

[2015-09-21 11:13] sreekanthbs opened #501 "ARM: network application-gateway ssl-add giving error"
network application-gateway ssl-add giving error <b>'certificate does not have Private Key'</b> even after creating ssl cert.
1. Generate Private Key on the Server Running Apache + mod_ssl
openssl genrsa -des3 -out myPrivateKey.key 1024
2. Generate a Certificate Signing Request (CSR)
openssl req -new -key myPrivateKey.key -out myCert.csr
3. Generate a Self-Signed SSL Certificate
openssl x509 -req

[2015-09-21 11:23] sreekanthbs opened #502 "ARM: network application-gateway frontend-port add not working"
<pre>
<code>
C:\Sep2015\21Sep\azure-xplat-cli-dev-arm-app-gateways>node bin/azure network application-gateway frontend-port add test-trya-group appgw01 tryaPort -o 1234
info:    Executing command network application-gateway frontend-port add
error:   callback missing (argument #5). See https://github.com/Sage/streamlinejs/blob/master/FAQ.md#no-callback-given-error
info:    Error information has be

[2015-09-21 11:59] MikhailTryakhov commented on #502
Hi @sreekanthbs thank you for such test. It's fixed now, please review it again

[2015-09-21 13:20] MikhailTryakhov opened #503 "ARM : network application-gateway start not working"
Azure CLI and PS start commands - server returns errors (screenshots [here](https://gyazo.com/faf4800342565fd3a7f2d9f199b92569) and [here](https://gyazo.com/fe8c20517ed648a833dd992091c6f6f7)).

Error throws in just created app gateway, not reproduced after just created ap gateway would be stopped

[2015-09-21 13:22] #502 closed

[2015-09-21 13:25] MikhailTryakhov opened #504 "ARM: network application-gateway frontend-port add does not stop working"
Commands never ended by server side. The only chance is to terminate process.
Please review screenshot [here](https://gyazo.com/d7ff46f8872c42ba096274dc50c645a9)

Actually command works correct (it adds a port and removes as we wished), but server doesn't finish command process to close it on CLI side

[2015-09-22 12:12] MikhailTryakhov opened #507 "ARM : network application-gateway start not working"
Server throws error after command start for already started app gateway
Screenshot is [here](https://gyazo.com/f8b62e94ea1584b2622c5b9f937ef71e)

[2015-09-23 11:58] MikhailTryakhov opened #508 "ARM : network application-gateway http-listener remove error"
Server throws error trying add http listener for app gateway.
The same works correct for Powershell cmdlet with the same parameters

Error message described on the screenshot [here](https://gyazo.com/1cf44535a595413ae494d75ccc9ccfb4)

[2015-09-23 12:09] MikhailTryakhov opened #509 "ARM : network application-gateway http-listener show error"
application gateway SDK get method returns not the same http listener results as Powershell command.
Screenshot of powerShell result is [here](https://gyazo.com/4bc9eda6c3cca2a48a03b76ed20b3ced), from Azure CLI SDK [here](https://gyazo.com/6e889380790515732e3231aa4496cf2f) and configuration details in CLI [here](https://gyazo.com/33592bf02c9425ee6a6924bcea29297c).

[2015-09-24 08:58] MikhailTryakhov commented on #501
Hi @sreekanthbs
please review comment from Kapil:
Regarding SSL: You have  to specify pfx file while adding certificate. You are specifying .cer file and getting error.

Could you please review such command again

[2015-09-24 11:25] sreekanthbs opened #510 "ARM: network lb inbound-nat-pool create is not working"
network lb inbound-nat-pool create is not working from the branch <b>arm-lb-inbound-nat-pool</b>
<pre>
<code>
C:\Sep2015\24Sep\azure-xplat-cli-arm-lb-inbound-nat-pool>node bin/azure network lb inbound-nat-pool create armresgrp16s lb29 lbnatpool1
info:    Executing command network lb inbound-nat-pool create
+ Looking up the load balancer "lb29"
warn:    Using default protocol: tcp
warn:    Using de

[2015-09-24 11:38] romangromov commented on #510
I have fix error, but you will be NOT able to create inbound NAT pool until having an access.

[2015-09-25 12:23] MikhailTryakhov commented on #499
Hi @sreekanthbs could you please review again, is it still reproduced?

[2015-09-28 14:20] sreekanthbs commented on #499
@MikhailTryakhov yes its working fine now.Hence Closing the issue

[2015-09-28 14:20] #499 closed

[2015-09-28 14:20] sreekanthbs commented on #507
@MikhailTryakhov issue is still there in the latest commmit.

[2015-09-28 14:21] sreekanthbs commented on #510
@romangromov  now i am able to create inbound NAT pool.Hence closing the issue

[2015-09-28 14:21] #510 closed

[2015-09-28 14:27] MikhailTryakhov commented on #503
Duplicates [#507](https://github.com/MSOpenTech/azure-xplat-cli/issues/507)

[2015-09-28 14:27] #503 closed

[2015-09-29 10:43] sreekanthbs opened #512 "ARM:network application-gateway rule remove not working"
![image](https://cloud.githubusercontent.com/assets/11171941/10161859/913036aa-66c4-11e5-8845-9131694cd803.png)

[2015-09-29 10:44] sreekanthbs opened #513 "ARM:network application-gateway frontend-port remove not working"
![image](https://cloud.githubusercontent.com/assets/11171941/10161930/15ddb5c6-66c5-11e5-8882-b678ccc78333.png)

[2015-09-29 11:02] MikhailTryakhov commented on #512
Hi @sreekanthbs
thank you for a great job!
I've mad such commands block blindly - it's fixed now
Could you please test it again

[2015-09-29 11:14] sreekanthbs opened #514 "Arm: network application-gateway ip-config add not working"
1. Both --subnet-name & -name (ip-config) are using same option i.e -n
2. After specifying all the required param , it prompt for subnet name twice
3. In the error message it is displaying subnet  "testSubnet3"  as virtual network   --"'Microsoft.Network/virtualNetworks/testSubnet3'" under resource group 'test-trya-group3' was not found.

![image](https://cloud.githubusercontent.com/assets/1117194

[2015-09-29 11:20] sreekanthbs opened #515 "ARM:network application-gateway set command have same option for location & sku-name"
![image](https://cloud.githubusercontent.com/assets/11171941/10162596/103e918a-66ca-11e5-8c3a-ddfbcf980848.png)

[2015-09-29 11:21] MikhailTryakhov commented on #514
Hi @sreekanthbs
thank you, great job! It's fixed now

[2015-09-29 11:23] MikhailTryakhov commented on #515
@sreekanthbs sorry
I'm afraid you're using not the latest branch version - there is no location option in set command anymore

[2015-09-29 11:55] sreekanthbs commented on #515
@MikhailTryakhov i verified in the latest branch version again and the issue is there.
I verified in this branch https://github.com/MSOpenTech/azure-xplat-cli/tree/dev-arm-app-gateways .

[2015-09-29 12:12] sreekanthbs commented on #514
@MikhailTryakhov  network application-gateway ip-config add command prompting for ::
1.subnet-name even though i provided the same in the command only
2.virtual-network-name -- I guess there should be one option for virtual-network-name in help ,currently there is no option for it.
![image](https://cloud.githubusercontent.com/assets/11171941/10163458/a8822190-66d0-11e5-8569-2937aa6e1031.png)

[2015-09-29 12:27] sreekanthbs opened #516 "Arm: network application-gateway http-listener remove not working"
![image](https://cloud.githubusercontent.com/assets/11171941/10163879/627a250a-66d3-11e5-932c-1679996e1e29.png)

[2015-09-29 12:41] MikhailTryakhov commented on #515
@sreekanthbs you're right - I forgot about ```azure --gen``` command.
Please review it again

[2015-09-29 12:46] MikhailTryakhov commented on #514
@sreekanthbs  you're right!
It's fixed now

[2015-09-29 12:48] MikhailTryakhov commented on #508
Duplicates issue https://github.com/MSOpenTech/azure-xplat-cli/issues/516

[2015-09-29 12:48] #508 closed

[2015-09-29 13:09] sreekanthbs commented on #515
@MikhailTryakhov yes after running azure --gen command , now --location option is not coming.
Hence closing the issue

[2015-09-29 13:09] #515 closed

[2015-09-29 13:33] sreekanthbs commented on #514
@MikhailTryakhov please give different short names for each of
 --name <name>
 --vnet-name <vnet-name>
 --subnet-name <subnet-name>
![image](https://cloud.githubusercontent.com/assets/11171941/10165394/aa44dfa2-66dc-11e5-8e22-8903f3e44120.png)

[2015-09-29 13:36] MikhailTryakhov commented on #514
@sreekanthbs done!
thank you for a great job!

[2015-09-29 13:46] sreekanthbs opened #517 "ARM:network application-gateway frontend-ip add not working"
1. I provided frontend-ip in command still its prompting for  frontend-ip name

2 Error message is not clear enough

![image](https://cloud.githubusercontent.com/assets/11171941/10165724/560f3124-66de-11e5-9f2b-d29ffb1646ea.png)

[2015-09-29 14:01] sreekanthbs commented on #501
@MikhailTryakhov Still getting error
<pre>
<code>
C:\Sep2015\29Sep\azure-xplat-cli-dev-arm-app-gateways>node bin/azure network application-gateway ssl-cert add test-trya-group1 appgw021 testCert -t "C:\sshkey\m
ycert.pfx" -p 1234
info:    Executing command network application-gateway ssl-cert add
+ Looking up an Application Gateway "appgw021"
error:   certFile is not defined
info:    Error informa

[2015-09-29 14:11] sreekanthbs commented on #514
@MikhailTryakhov tried again with all options but still it is prompting to enter Ip config name and Virtual network name and giving error
<pre>
<code>
C:\Sep2015\29Sep\azure-xplat-cli-dev-arm-app-gateways>node bin/azure network application-gateway ip-config add test-trya-group3 appgw03 ipconfig1 -v vnet32 -u s
ubnet32
info:    Executing command network application-gateway ip-config add
Ip config n

[2015-09-30 11:08] MikhailTryakhov commented on #517
Thank you, @sreekanthbs
It's fixed now

[2015-09-30 11:34] MikhailTryakhov commented on #501
Hi @sreekanthbs
it's fixed now. Please test it again

[2015-09-30 13:03] MikhailTryakhov opened #520 "ARM : network application-gateway http-listener add error"
Server throws error adding http listener
![Image of error](https://i.gyazo.com/294483ba05fa7375ded27012e6a40fea.png)

[2015-09-30 15:28] sreekanthbs commented on #501
Still throwing error
<pre>
<code>
C:\Sep2015\30Sep\azure-xplat-cli-dev-arm-app-gateways>node bin/azure network application-gateway ssl-cert add test-trya-group1 appgw021 testCert -f C:\sshkey\my
cert.pfx -p 12345
info:    Executing command network application-gateway ssl-cert add
+ Looking up an Application Gateway "appgw021"
+ Setting configuration for an Application Gateway "appgw021"
error:   C

[2015-09-30 15:29] sreekanthbs opened #521 "ARM : network application-gateway frontend-ip remove not working"
![image](https://cloud.githubusercontent.com/assets/11171941/10197578/04054dfe-67b6-11e5-93ea-165f6858fff9.png)

[2015-10-01 10:42] MikhailTryakhov commented on #512
Add/remove tasks are blocked because of no way to add http listener available now.
![error message adding rule](https://gyazo.com/c7d39bf20d4c147e060a6edd43dc6769)

[2015-10-01 10:42] #512 closed

[2015-10-01 11:05] sreekanthbs commented on #517
@MikhailTryakhov Issue is still there.
I am giving vnet & subnet name , But its giving error for public-ip
![image](https://cloud.githubusercontent.com/assets/11171941/10219187/56e1ef10-685a-11e5-8c40-21c7a9ed5429.png)

[2015-10-01 11:12] #520 closed

[2015-10-01 11:51] MikhailTryakhov commented on #504
Process just need a lot of time

[2015-10-01 11:51] #504 closed

[2015-10-01 12:20] MikhailTryakhov commented on #516
Fixed

[2015-10-01 12:20] #516 closed

[2015-10-01 12:33] MikhailTryakhov commented on #513
Fixed, added info message

[2015-10-01 12:33] #513 closed

[2015-10-01 13:54] MikhailTryakhov opened #522 "ARM: network application-gateway frontend-ip throws the same error for all cases"
There are 3 ways to create frontend-ip, but in all 3 current for app gw server throws error
![Image](https://i.gyazo.com/6b6e10e59a5ae94b08f32ef4d116da31.png)
for static private IP as the front-end IP address

and

![img](https://i.gyazo.com/49bc83b7003a3ef0b6452853c21f85c4.png)
for dynamic private IP as the front-end IP address

[2015-10-01 15:24] sreekanthbs commented on #517
@MikhailTryakhov can you please look into this issue

[2015-10-01 16:34] MikhailTryakhov commented on #517
@sreekanthbs  I have exactly the same and discuss about it on the meeting

[2015-10-02 09:10] MikhailTryakhov commented on #514
Marked as expected

[2015-10-02 09:10] #514 closed

[2015-10-02 09:14] MikhailTryakhov commented on #509
That's a powershell error

[2015-10-02 09:14] #509 closed

[2015-10-05 05:45] sreekanthbs opened #523 "ARM : network application-gateway http-listener add not working as expected"
When i run the add command , It gives error in output but actually its getting added in application gateway
![image](https://cloud.githubusercontent.com/assets/11171941/10273720/4880b424-6b52-11e5-9e36-3d4af0850011.png)

[2015-10-05 06:08] sreekanthbs opened #524 "ARM : network application-gateway rule remove displaying wrong message"
![image](https://cloud.githubusercontent.com/assets/11171941/10273943/82330426-6b55-11e5-826c-6cfa7a2d5f80.png)

[2015-10-05 06:46] sreekanthbs opened #525 "ARM : network application-gateway set sometime does not end"
Sometime 'network application-gateway set' command doest not end even after 30 minutes

[2015-10-05 07:41] MikhailTryakhov commented on #525
Thank you @sreekanthbs I'll add info message for that and communicate about such issue on the metting

[2015-10-05 07:50] MikhailTryakhov commented on #524
Thank you @sreekanthbs! Great job!
It's fixed now

[2015-10-05 08:38] MikhailTryakhov commented on #523
Hi @sreekanthbs. can't reproduse such issue.
Is it regular on your side - can you reproduce the same again?

[2015-10-06 07:42] sreekanthbs opened #526 "ARM:network gateway connection create not working when each gateway is in different resource group"
![image](https://cloud.githubusercontent.com/assets/11171941/10302666/d23822f4-6c2b-11e5-8538-a4e28c512cc5.png)

[2015-10-06 07:46] sreekanthbs commented on #489
@romangromov still Sometime 'network gateway vnet create' fails giving error  -- CONNECT ETIMEDOUT.
Any update on this?

[2015-10-06 08:10] romangromov commented on #489
@sreekanthbs no updated on this, will ping again

[2015-10-06 09:33] sreekanthbs opened #527 "ARM: network gateway connection create not working"
![image](https://cloud.githubusercontent.com/assets/11171941/10305032/5db438d6-6c3b-11e5-839c-469b1d7dca1c.png)

[2015-10-06 09:42] sreekanthbs commented on #523
@MikhailTryakhov its not regular but i encountered this issue twice

[2015-10-06 10:10] sreekanthbs opened #528 "Arm: network application-gateway rule add displaying wrong message"
In network application rule add command i have not given the rule name so that it will prompt for rule name.
But instead it is prompting wrong message i.e Frontend port name
![image](https://cloud.githubusercontent.com/assets/11171941/10305973/5b224f08-6c41-11e5-9b4c-65ff6cb963ef.png)

[2015-10-06 10:27] sreekanthbs commented on #528
Same issue with rule remove command

![image](https://cloud.githubusercontent.com/assets/11171941/10306175/d32a18b8-6c42-11e5-95ea-1e09eb463b45.png)

[2015-10-06 10:30] sreekanthbs commented on #524
@MikhailTryakhov  yes now its display correct message for the above mentioned issue.
But in case if we don't specify rule name in the command ,then its prompt for wrong message for name.
![image](https://cloud.githubusercontent.com/assets/11171941/10306245/3a7085c0-6c43-11e5-9fea-cb0807b82e2c.png)

[2015-10-06 10:36] romangromov commented on #527
@sreekanthbs thanks, should be fixed now

[2015-10-06 10:41] MikhailTryakhov commented on #528
@sreekanthbs thank you! It's fixed now!

[2015-10-06 10:43] MikhailTryakhov commented on #524
It duplicates issue https://github.com/MSOpenTech/azure-xplat-cli/issues/528

[2015-10-06 10:43] #524 closed

[2015-10-06 11:34] MikhailTryakhov commented on #517
Duplicates https://github.com/MSOpenTech/azure-xplat-cli/issues/522

[2015-10-06 11:34] #517 closed

[2015-10-06 12:27] sreekanthbs commented on #527
@romangromov yes its working fine now.Thanks
Closing the issue.

[2015-10-06 12:27] #527 closed

[2015-10-06 13:50] sreekanthbs opened #529 "ARM : network gateway connection list displaying wrong sharedkey"
I created a gateway connection with shared key -- (abc123)
In show command its displaying it correctly but in list command its displaying wrong shared key.
![image](https://cloud.githubusercontent.com/assets/11171941/10310324/066ee386-6c5f-11e5-9171-b13f694ce2af.png)

[2015-10-06 13:57] romangromov commented on #529
@sreekanthbs got it, please attach -vv for list and show

[2015-10-06 14:22] sreekanthbs commented on #529
@romangromov please find the verbose output for list and show
<pre>
<code>
<b>verbose output for list</b>
C:\Oct\6oct\azure-xplat-cli-dev-arm-vpn-connections>node bin/azure network gateway connection list armtestrg1 -vv
info:    Executing command network gateway connection list
verbose: Looking up gateway connections
silly:   requestOptions
silly:   {
silly:       rawResponse: false,
silly:

[2015-10-08 06:49] MikhailTryakhov commented on #501
@sreekanthbs Please use [this](https://msdn.microsoft.com/en-us/library/ff699202.aspx) link to create pfx certificate and try to test command again.
It works correct on my side

[2015-10-09 11:53] sreekanthbs commented on #501
@MikhailTryakhov  Its working fine now.Thanks for the link that really helped.
Closing the issue
<pre>
<code>
C:\Oct\9oct\azure-xplat-cli-dev-arm-app-gateways>node bin/azure network application-gateway ssl-cert add test-trya-group3 appgw03 -c SCSFTest -f C:\MakeCert\SCSFTest.
pfx -p Super@123
info:    Executing command network application-gateway ssl-cert add
+ Looking up an Application Gateway "a

[2015-10-09 11:53] #501 closed

[2015-10-09 12:09] sreekanthbs commented on #528
@MikhailTryakhov  its working fine.Thanks Closing the issue

[2015-10-09 12:09] #528 closed

[2015-10-09 12:51] sreekanthbs commented on #525
@MikhailTryakhov i verified in the latest branch.
I run the same set command twice
First time it gave error.But on second time it worked perfectly fine.
Please find below the error details.
<pre>
<code>
C:\Oct\9oct\azure-xplat-cli-dev-arm-app-gateways>node bin/azure network application-gateway set test-trya-group3 appgw03   -l Standard_Small -z 5
info:    Executing command network application-gate

[2015-10-09 14:11] sreekanthbs commented on #523
@MikhailTryakhov i verified on the latest branch.
Again got the same issue
![image](https://cloud.githubusercontent.com/assets/11171941/10396013/b0457f18-6ebd-11e5-8293-125a95e16376.png)

[2015-10-10 08:08] romangromov commented on #529
@sreekanthbs this is by design:

`[Manjusha] Secret key is a secret and we want to show it in specific get. In List connections we don’t want to show the shared key, so we show the encrypted shared key. Only when you get specific connection you get to see its secret.`

Hence please close this issue

[2015-10-12 05:35] sreekanthbs commented on #529
@romangromov Thanks for the info.Closing the issue.

[2015-10-12 05:35] #529 closed

[2015-10-12 06:03] sreekanthbs opened #530 "ARM:network application-gateway ip-config set not working"
<pre>
<code>
C:\Oct\9oct\azure-xplat-cli-dev-arm-app-gateways>node bin/azure network application-gateway ip-config set  test-trya-group3 appgw03 -n ipconfig3 -e vnet32 -u subnet32

info:    Executing command network application-gateway ip-config set
+ Looking up an Application Gateway "appgw03"
error:   An application gateway ip config with name "ipconfig3" not found in Application Gateway "appgw0

[2015-10-12 07:15] MikhailTryakhov commented on #530
Hi @sreekanthbs
are you sure that ip-config with name 'ipconfig3' really exists in specified gateway?

[2015-10-12 08:59] sreekanthbs commented on #530
@MikhailTryakhov  there is no command to add ip-config ,so yes this ip-config 'ipconfig3'does not exist in speciifed gateway.Is there a way to add this ip-config to gateway?

[2015-10-12 09:06] MikhailTryakhov commented on #530
@sreekanthbs correct, there are no add/remove commands because of only one gateway ip config should exists (not 0, not 2, but 1) and it is created with application gateway. The only chance to work with app gateway is setting some parameters of configuration.

[2015-10-12 09:32] sreekanthbs commented on #530
@MikhailTryakhov got it.Thanks for the clarification. I try to set some configuration on an existing ip-config still getting some error.
<pre>
<code>
C:\Oct\9oct\azure-xplat-cli-dev-arm-app-gateways>node bin/azure network application-gateway ip-config set  test-trya-group3 appgw03 -n gatewayip03 -e vnet32 -u subnet
32
info:    Executing command network application-gateway ip-config set
+ Looking u

[2015-10-13 06:26] sreekanthbs opened #531 "ARM : network express-route authorization set displaying different option"
![image](https://cloud.githubusercontent.com/assets/11171941/10447354/66b86540-71a1-11e5-987e-3cf9a647df09.png)

[2015-10-13 06:32] sreekanthbs opened #532 "ARM : network express-route authorization create always creating authorization with use state as Available"
<pre>
<code>
C:\Oct\13oct\azure-xplat-cli-dev-arm-express-route-auth>node bin/azure network express-route authorization create armresgrp12o expressroute1 exproutauth5 -k ABC@123<b> -
u Used</b>
info:    Executing command network express-route authorization create
+ Looking up the express route circuit "expressroute1"
+ Looking up the express route circuit authorization "expressroute1"
+ Creating e

[2015-10-13 06:33] sreekanthbs commented on #532
Same issue in set
<pre>
<code>
C:\Oct\13oct\azure-xplat-cli-dev-arm-express-route-auth>node bin/azure network express-route authorization set armresgrp12o expressroute1 exproutauth5 -k ABC@123 -u U
sed
info:    Executing command network express-route authorization set
+ Looking up the express route circuit "expressroute1"
+ Looking up the express route circuit authorization "expressroute1"
+ Setti

[2015-10-13 06:45] MikhailTryakhov commented on #531
@sreekanthbs thank you!
Please review latest updates - it's fixed now

[2015-10-13 07:40] sreekanthbs commented on #531
@MikhailTryakhov  its working fine now.Thanks.
Closing the issue.

[2015-10-13 07:40] #531 closed

[2015-10-22 11:54] MikhailTryakhov opened #534 "ARM : network application-gateway set command non-regular error"
There is non-regular error setting application gateway.
[code]

[2015-10-22 11:55] MikhailTryakhov commented on #525
Duplicates issue https://github.com/MSOpenTech/azure-xplat-cli/issues/534

[2015-10-22 11:55] #525 closed

[2015-10-22 11:55] MikhailTryakhov commented on #523
Duplicates issue https://github.com/MSOpenTech/azure-xplat-cli/issues/534

[2015-10-22 11:55] #523 closed

[2015-10-22 11:56] MikhailTryakhov commented on #530
Duplicates issue https://github.com/MSOpenTech/azure-xplat-cli/issues/534

[2015-10-22 11:56] #530 closed

[2015-10-22 12:13] romangromov commented on #534
@MikhailTryakhov `Application gateway set command is a long-running process` - this should be warn instead of info

[2015-10-22 12:14] romangromov commented on #534
@MikhailTryakhov about error message: `output is not defined` - this is JS runtime error, not server response. Why this is marked as `external`?

[2015-10-22 14:45] MikhailTryakhov commented on #534
@romangromov it throws after request sent during long-running operation...

[2015-10-22 16:53] romangromov commented on #534
@MikhailTryakhov can you please attach server response and stack trace for more details?

[2015-10-22 17:49] MikhailTryakhov commented on #534
@romangromov  unfortunately I can't reproduce it. I'll ask Sreekanth to test such tasks

[2015-10-23 07:54] romangromov commented on #534
@sreekanthbs we need two things: 1) last response from server (-vv) 2) stack trace from azure.err

[2015-10-23 08:17] MikhailTryakhov commented on #534
@romangromov you were right - I've fixed it. Thank you!

[2015-10-23 08:17] #534 closed

[2015-10-23 08:25] romangromov commented on #534
@sreekanthbs please confirm we are good here, as well as https://github.com/MSOpenTech/azure-xplat-cli/issues/525 https://github.com/MSOpenTech/azure-xplat-cli/issues/523 https://github.com/MSOpenTech/azure-xplat-cli/issues/530 . Otherwise, re-open

[2015-10-23 08:33] MikhailTryakhov commented on #507
Hi @sreekanthbs
please review it again and close if it's fixed

[2015-10-26 08:50] sreekanthbs opened #536 "Arm: network application-gateway create giving error even though the app-gateway gets created"
This error is regular. I run the create application-gateway create command twice both time got same error.
![image](https://cloud.githubusercontent.com/assets/11171941/10724712/9646c734-7bec-11e5-9988-782c9d7b8e43.png)

[2015-10-26 11:05] sreekanthbs commented on #534
@MikhailTryakhov  @romangromov  i verified all 3 issues mentioned above .All are working fine.Not able to repro these issues.

[2015-10-26 11:32] sreekanthbs opened #537 "ARM: network dns zone record-set list --json not displaying NS/SOA types properly"
network dns zone record-set list --json not displaying type of dnszones for NS type and SOA
![image](https://cloud.githubusercontent.com/assets/11171941/10727853/077e30d4-7c03-11e5-8600-72568b1b5cdb.png)

![image](https://cloud.githubusercontent.com/assets/11171941/10728119/4056642e-7c05-11e5-86b9-6879144b0811.png)

![image](https://cloud.githubusercontent.com/assets/11171941/10728082/e7986184-7c0

[2015-10-26 11:49] romangromov commented on #537
Attaching http req/res https://gist.github.com/romangromov/d39150d1e7dd42cd9c2a#file-zone-list-type-issue

[2015-10-26 12:01] sreekanthbs commented on #522
@MikhailTryakhov issue still exist
![image](https://cloud.githubusercontent.com/assets/11171941/10728395/6c738e0e-7c07-11e5-821e-ead8e3e70ae9.png)

[2015-10-26 12:51] sreekanthbs commented on #507
@MikhailTryakhov yes its working fine now.Thanks.Can you please close this issue.
![image](https://cloud.githubusercontent.com/assets/11171941/10729286/4d9b7936-7c0e-11e5-90db-0b68b0249b26.png)

[2015-10-26 14:30] sreekanthbs commented on #536
@MikhailTryakhov this issue is in other commands as well.
![image](https://cloud.githubusercontent.com/assets/11171941/10731209/4ba4c28e-7c1a-11e5-8518-b23ec7fccf42.png)
![image](https://cloud.githubusercontent.com/assets/11171941/10731561/00d82276-7c1c-11e5-9699-65f8255d9fa1.png)
![image](https://cloud.githubusercontent.com/assets/11171941/10731571/110543cc-7c1c-11e5-915d-da31604d1b11.png)

[2015-10-26 16:42] #507 closed

[2015-10-27 11:59] sreekanthbs opened #538 "ARM: network dns zone import with wrong dns-name giving error"
<pre>
<code>
C:\Oct2015\26oct\azure-xplat-cli-dev-arm-dns-import>node bin/azure network dns zone import --resource-group armresgrpdnszone --name example.com32 --file-name C:
\Oct2015\merge1.txt --force --verbose
info:    Executing command network dns zone import
warn:    The record set with fully-qualified name "example.com." does not match the zone name "example.com32.", skipped
warn:    The reco

[2015-10-27 12:03] romangromov commented on #538
@sreekanthbs please do not forget to attach zone file used

[2015-10-27 12:05] sreekanthbs commented on #538
; This zone file assumes the zone name is 'example.com'
$ORIGIN example.com.

; Note, first record must be SOA.
@ IN SOA ns1.example.com. hostmaster (
                        2003080800 ; se = serial number
                        12h        ; ref = refresh
                        15m        ; ret = update retry
                        3w         ; ex = expiry
                        3h         ;

[2015-10-27 12:37] romangromov commented on #538
@sreekanthbs should be fixed now

[2015-10-27 14:12] romangromov commented on #537
UPD: [Jonathan] `Re record set LIST giving the wrong type for NS/SOA records—yes, this is a known issue, we will fix this.  `

[2015-10-28 19:47] romangromov commented on #532
@sreekanthbs is this blocking issue for all of `authorization` commands stack?

[2015-10-28 19:47] romangromov commented on #532
@MikhailTryakhov since it marked as `external`, do we have any updates from Amit?

[2015-10-28 19:54] MikhailTryakhov commented on #532
@romangromov  he wrote that's external bug and they need 1-2 weeks to test environment

[2015-10-29 05:51] sreekanthbs commented on #532
@romangromov  no its not a blocking issue.But the verification cannot be completed till we can verify the create & set command with both state - Used & Available.

[2015-10-29 07:19] romangromov commented on #532
[Amit] `authorization will be available in next week’s deployment. It can be part of CLI’s next release cycle.`

please do not forget to ping him again

[2015-11-03 08:58] romangromov commented on #538
@sreekanthbs please verify or close, thanks

[2015-11-03 09:00] sreekanthbs commented on #538
@romangromov  Verified and it is working fine, hence closing the issue

[2015-11-03 09:00] #538 closed

[2015-11-12 11:16] sreekanthbs opened #542 "ARM: network traffic-manager profile create with --json option with warn message error"
ARM network traffic-manager profile create with --json option giving a warn message as ''Using default location: global" and then json output is getting displayed. Because of this traffic-manager test cases are failing.
![image](https://cloud.githubusercontent.com/assets/11171941/11117086/edc17810-895c-11e5-9370-ad3c947da694.png)

Make sure json output should not display any warnings

[2015-11-12 12:29] romangromov commented on #542
@sreekanthbs warning removed, should work fine now

[2015-11-12 13:59] sreekanthbs commented on #542
@romangromov It is working fine now, hence closing the issue.

[2015-11-12 13:59] #542 closed

[2015-11-16 09:28] romangromov opened #543 "ARM: 'dns-zone record set create' fails for type SOA with missing field exception"
[code]

[2015-11-16 09:31] romangromov opened #544 "ARM: 'dns-zone record set create' fails for type PTR"
[code]

[2015-11-16 09:31] romangromov commented on #544
PTR type is not supported yet on server end, let's wait for support

[2015-11-16 09:47] romangromov opened #545 "ARM 'dns zone create' doesn't work for one-label zone name"
[code]

[2015-11-16 09:47] romangromov commented on #545
Comment from Peter Budkowski Peter.Budkowski@microsoft.com:

Hi Anu, this is a curious case, so well done uncovering this. A new feature we just deployed (that allows multiple zones with the same name) requires that the zone name has at least two labels, so it considers ‘MyZone’ an invalid zone name. This validation is bundled with other cases that it checks for and it returns ‘zone already exists

[2015-11-16 09:55] romangromov opened #546 "ARM: 'lb address pool create' not working without FIP for newly created load balancer"
Steps to repro:

* Create new load balancer
* Try to create address pool on to the new load balancer.
* Command fails to create address pool with exception: `This setup is not supported.`
* Note that address pool create works on already created load balancers.

[code]
Solution: we have to create a front-ip in the loadbalancer to create an address pool.

[2015-11-16 09:55] romangromov commented on #546
As per @FrankSiegemund this seems to be a known issues at server end. As a workaround currently we have to create a front-ip in the loadbalancer for us to create an address pool on to the lb. Leaving this issue open and will verify once we have a fix at server end.

[2015-11-16 18:05] romangromov commented on #546
[Frank] `It is by design that this is not possible. We are not planning to support this. We might add it at some point`

[2015-11-17 08:19] romangromov opened #549 "ARM: 'network gateway connection set' command not implemented"
Need to implement `azure network gateway connection set ` command.

[2015-11-18 06:50] sreekanthbs opened #550 "ARM: network express-route peering create, show not displaying Azure ASN property"
ARM network express-route peering create and show not displaying Azure ASN property while network express-route peering show --json output showing the property. Make consistency across --json output and normal output display. verified in the branch arm-express-route-peering
![image](https://cloud.githubusercontent.com/assets/11171941/11234507/9365dd70-8dee-11e5-9baf-a4fdcbeee932.png)

[2015-11-18 06:55] sreekanthbs opened #551 "ARM : network express-route peering create have duplicate short name options"
ARM network express-route peering create have duplicate short name -i option.
![image](https://cloud.githubusercontent.com/assets/11171941/11234581/630ea1b0-8def-11e5-8198-e768c92f1e62.png)

[2015-11-18 08:56] sreekanthbs opened #552 "ARM: network express-route peering create and set with Disabled state not working"
ARM network express-route peering create and set with disabled state not able to update the state as Disabled. Sometimes set operation ProvisioningState as Failed

![image](https://cloud.githubusercontent.com/assets/11171941/11236530/60652b94-8e00-11e5-9fdf-2657c72566b9.png)

![image](https://cloud.githubusercontent.com/assets/11171941/11236591/bc21cba4-8e00-11e5-92aa-e99f7b3ab62d.png)

![image](h

[2015-11-18 09:36] sreekanthbs opened #553 "ARM : network express-route peering set not working"
ARM network express-route peering set of MicrosoftPeering type is giving error
![image](https://cloud.githubusercontent.com/assets/11171941/11237437/e5af2a02-8e05-11e5-82f5-f2c643cecd06.png)

[2015-11-18 09:59] sreekanthbs commented on #552
Same issue with  --azure-asn . Create & set are not working ,its taking default value only
![image](https://cloud.githubusercontent.com/assets/11171941/11238021/05c6d2f6-8e09-11e5-8234-cc80d5c8aa8a.png)

[2015-11-18 13:38] MikhailTryakhov commented on #551
Thank you @sreekanthbs - it's fixed now

[2015-11-18 13:38] MikhailTryakhov commented on #550
Thank you @sreekanthbs - it's fixed now

[2015-11-19 06:02] sreekanthbs commented on #550
@MikhailTryakhov yes its working fine now.Thanks.Closing the issue

<pre>
<code>
C:\Nov\19Nov\azure-xplat-cli-dev-arm-express-route-peering>node bin/azure network express-route peering show armresgrp18n expressroute1 MicrosoftPeering
info:    Executing command network express-route peering show
+ Looking up the express route circuit "expressroute1" peering "MicrosoftPeering"
data:    Name

[2015-11-19 06:05] #550 closed

[2015-11-19 06:05] sreekanthbs commented on #551
@MikhailTryakhov

[2015-11-19 07:43] sreekanthbs opened #554 "ARM : network express-route peering delete is not working as expected"
This behaviour is not regular but certainly is a issue.
1.  I created a express-route peering with -- node bin/azure network express-route peering create armresgrp18n expressroute1 AzurePublicPeering --vlan-id 500 --peer-asn 65000  --primary-address-prefix 176.16.1.0/30 --secondary-address-prefix 176.16.2.0/30 -y AzurePublicPeering

![image](https://cloud.githubusercontent.com/assets/11171941/1126

[2015-11-19 10:46] MikhailTryakhov commented on #551
Thank you! I've reworked all short commands in create and set commands. Should be fixed

[2015-11-19 12:29] sreekanthbs commented on #551
@MikhailTryakhov yes now its fixed.Thanks Closing the issue

[2015-11-19 12:29] #551 closed

[2015-11-22 10:01] bingosummer commented on #335
@romangromov Any update on this? This issue still exists in my test.
The issue blocks create an application gateway with ssl-offload. Any workaround?
Thanks

[2015-11-22 11:23] bingosummer commented on #335
@romangromov Any update on this? Is it fixed?
In my test, even if I wanted to add a pfx certificate, the command still gave me a error.
[code]
However, we can see that the ssl certificate has been added successfully from the response.
[code]

[2015-11-23 07:26] sreekanthbs opened #555 "ARM: network express-route peering create and set with Disabled state not working"
network express-route peering create and set with --ms-routing-registry-name RIPE NCC option value not working
![image](https://cloud.githubusercontent.com/assets/11171941/11331483/bec6b45c-91e1-11e5-8909-e350fce80b18.png)

[2015-11-23 07:53] MikhailTryakhov commented on #553
Hi @sreekanthbs please review it again - I assume THIS issue s fixed (duplicating with Disabled State)

[2015-11-23 08:07] sreekanthbs commented on #553
@MikhailTryakhov Still issue exists. This is not Disabled state, Set operation for MicrosoftPeering type is giving error.
![image](https://cloud.githubusercontent.com/assets/11171941/11331952/3ebb5cda-91e7-11e5-8f71-0c3e4d663a8e.png)

[2015-11-23 09:05] sreekanthbs opened #556 "ARM: network express-route peering set help missing ms-advertised-public-prefix-state options"
network express-route peering set help command missing options available for the  --ms-advertised-public-prefix-state option. It is showing as %s as compared to create help command.
![image](https://cloud.githubusercontent.com/assets/11171941/11332872/30179b5a-91ef-11e5-90df-64d7561d6c02.png)

In create help command showing proper available options
![image](https://cloud.githubusercontent.com/asse

[2015-11-23 09:15] MikhailTryakhov commented on #556
Thank you @sreekanthbs, it's fixed now

[2015-11-24 07:49] MikhailTryakhov commented on #555
Thanks @sreekanthbs, great job!
Fixed now

[2015-11-24 08:50] MikhailTryakhov opened #557 "ARM: network express-route peering create can't work with Disabled state"
Problems trying create peering with Disabled state - it is created with Enabled state.

![w9qgilt](https://cloud.githubusercontent.com/assets/3079588/11361950/c27fb3ee-92a1-11e5-9072-883fb24c08b4.png)

[2015-11-24 08:59] sreekanthbs commented on #556
@MikhailTryakhov yes its fixed.Thanks
![image](https://cloud.githubusercontent.com/assets/11171941/11362023/2abaa198-92b7-11e5-84ae-85fb7af7843b.png)

[2015-11-24 09:00] #556 closed

[2015-11-24 09:16] MikhailTryakhov commented on #553
It doesn't work at all
![show](https://cloud.githubusercontent.com/assets/3079588/11362504/1952dfd6-92a5-11e5-964e-7f9fa29ca35b.png)
throws error setting without any new options
![set error](https://cloud.githubusercontent.com/assets/3079588/11362519/2b6c446e-92a5-11e5-8282-3c61a327297d.png)

[2015-11-24 09:23] MikhailTryakhov commented on #554
Hi @sreekanthbs
I have not reproduced such issue (tens of attempts).
Could you please try to reproduce at using -vv option to log requests.

Thank you!

[2015-11-24 09:49] sreekanthbs commented on #555
@MikhailTryakhov still getting error.Please find below the verbose output
<pre>
<code>
C:\Nov\24Nov\3pm\azure-xplat-cli-dev-arm-express-route-peering>node bin/azure network express-route peering create armresgrp24n expressroute1 MicrosoftPeering --vlan-
id 600 --peer-asn 65123  --primary-address-prefix 192.168.1.0/30 --secondary-address-prefix 192.168.2.0/30 -y MicrosoftPeering
info:    Executing